<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h3 {
            text-align: center;
            font-size: 16px;
            margin: 10px;
        }
        .panel-body {
            padding: 0px !important;
        }

    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="ibox float-e-margins">
        <div>
            <div class="panel-body">
                <div class="panel-group">
                    <span id="totalNum" style="font-weight: bold;float: right;"></span>
                    <a id="nextPage" th:if="${mesData != null && mesData.mesSign == 1}" class="btn-sm btn-primary btn-rounded" style="float: right;margin-bottom: 8px;margin-right: 1px"
                       href="javascript:void(0)"
                       onclick="nextPage()"><i></i>下一页</a>
                    <a id="backPage" th:if="${mesData != null && mesData.mesSign == 1}" class="btn-sm btn-primary btn-rounded" style="display: none;float: right;margin-bottom: 8px;margin-right: 1px"
                       href="javascript:void(0)"
                    onclick="backPage()"><i></i>上一页</a>
                    <div class="row" id="initData">

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div style="margin-top: 20px;text-align: center">&nbsp;&nbsp;
                                <a class="btn btn-primary btn-rounded" href="javascript:void(0)" onclick="dayin()"><i
                                     class="fa fa-eye"></i>预览MES</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" style="text-align: center" th:if="${mesData == null}">
                    <h1 style="color: red">您输入的批次号没有相关的MES追溯信息</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    $(function () {
        getData(1);
    })
    var yeNum = 1;
    var batchCode = [[${mesCode}]];

    /**
     * 初始化数据
     */
    function getData(num) {
        var data={
            batchCode:batchCode,
            pageNum:yeNum,
            pageSize:1,
        }
        var config = {
            url: "/mes/mesBatch/selectMesInfo",
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    initData(result.rows)
                    $("#totalNum").html("第" + yeNum + "/" + result.total + "记录");
                    if (result.total == yeNum) {
                        $("#nextPage").css("display","none");
                    } else {
                        $("#nextPage").css("display","inline-block");
                    }
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            }
        };
        $.ajax(config)
    }

    // 打印
    function dayin() {
        var userAgent = navigator.userAgent.toLowerCase(); //取得浏览器的userAgent字符串
        if (userAgent.indexOf("trident") > -1) {
            alert("请使用google或者360浏览器打印");
            return false;
        } else if (userAgent.indexOf('msie') > -1) {
            var onlyChoseAlert = simpleAlert({
                "content": "请使用Google或者360浏览器打印",
                "buttons": {
                    "确定": function () {
                        onlyChoseAlert.close();
                    }
                }
            })
            alert("请使用google或者360浏览器打印");
            return false;
        } else {//其它浏览器使用lodop
            var oldstr = document.body.innerHTML;
            var headstr = "<html><head><title></title></head><body>";
            var footstr = "</body>";
            //此处id换为你自己的id
            var printData = document.getElementById("initData").innerHTML; //获得 div 里的所有 html 数据
            document.body.innerHTML = headstr + printData + footstr;
            window.print();
            document.body.innerHTML = oldstr;
        }
    }


    function initData(data) {
        var mesData = data[0];
        if (mesData) {
            $("#initData").children().remove();
            var mesDetail = [];
            var mesPro = mesData.mesProList;
            var mesProDetail = [];
            var mesProDTag;
            for (var i = 0;i < mesPro.length; i++) {
                if (mesPro[i].dTag == 0) {
                    mesProDTag = '<td><span>'+ mesPro[i].batchCode +'</span></td>'
                } else if (mesPro[i].dTag == 1) {
                    var mesPart = mesPro[i].mesPartList;
                    var mesPartItem = [];
                    if (mesPart != null && mesPart.length > 0) {
                        for (var j = 0;j < mesPart.length; j++){
                            var mesPartText = '<tbody name="add-mesBatchDetail-body">\n' +
                                '                                                            <tr>\n' +
                                '                                                                <td>\n' +
                                '                                                                    <span>'+ mesPart[j].materielCode +'</span>\n' +
                                '                                                                </td>\n' +
                                '                                                                <td>\n' +
                                '                                                                    <span>'+ mesPart[j].batchCode +'</span>\n' +
                                '                                                                </td>\n' +
                                '                                                            </tr>\n' +
                                '                                                        </tbody>';
                            mesPartItem.push(mesPartText);
                        }
                        var startTimePro1 = '--';
                        if (mesPro[i].startTimePart != null) {
                            startTimePro1 = mesPro[i].startTimePart;
                        }
                        var endTimePro1 = '--';
                        if (mesPro[i].endTimePart != null) {
                            endTimePro1 = mesPro[i].endTimePart;
                        }
                        mesProDTag = '<td>\n' +
                            '                                                <div class="panel panel-primary">\n' +
                            '                                                    <div class="panel-body" style="max-height: 650px;overflow-y: scroll;font-size: 12px;margin-top: 1px">\n' +
                            '                                                        <div class="col-sm-3">\n' +
                            '                                                            <span>批次号：</span><span>'+ mesPro[i].batchCode +'</span>\n' +
                            '                                                        </div>\n' +
                            '                                                        <div class="col-sm-3">\n' +
                            '                                                            <span>产品编码：</span><span>' + mesPro[i].productCodePart +'</span>\n' +
                            '                                                        </div>\n' +
                            '                                                        <div class="col-sm-3">\n' +
                            '                                                            <span>产品名称：</span><span>'+ mesPro[i].productNamePart +'</span>\n' +
                            '                                                        </div>\n' +
                            '                                                        <div class="col-sm-3">\n' +
                            '                                                            <span>工单号：</span><span>'+ mesPro[i].workCodePart +'</span>\n' +
                            '                                                        </div>\n' +
                            '                                                        <div class="col-sm-3">\n' +
                            '                                                            <span>产线：</span><span>'+ mesPro[i].lineNamePart +'</span>\n' +
                            '                                                        </div>\n' +
                            '                                                        <div class="col-sm-3">\n' +
                            '                                                            <span>生产数量：</span><span>'+ mesPro[i].workNumberPart +'</span>\n' +
                            '                                                        </div>\n' +
                            '                                                        <div class="col-sm-3">\n' +
                            '                                                            <span>开始时间：</span><span>'+ startTimePro1 +'</span>\n' +
                            '                                                        </div>\n' +
                            '                                                        <div class="col-sm-3">\n' +
                            '                                                            <span>结束时间：</span><span>'+ endTimePro1 +'</span>\n' +
                            '                                                        </div>\n' +
                            '                                                    </div>\n' +
                            '                                                    <table class="table table-striped table-bordered table-hover">\n' +
                            '                                                        <thead>\n' +
                            '                                                            <tr>\n' +
                            '                                                                <th width="30%">关联编码</th>\n' +
                            '                                                                <th width="70%">批次信息</th>\n' +
                            '                                                            </tr>\n' +
                            '                                                        </thead>\n' + mesPartItem +
                            '                                                    </table>\n' +
                            '                                                </div>\n' +
                            '                                            </td>'
                    } else {
                        mesProDTag = '<td><span>'+ mesPro[i].batchCode +'</span></td>'
                    }

                }
                var mesProText = '<tbody name="add-mesBatchDetail-body">\n' +
                    '                   <tr>\n' +
                    '                       <td>\n' +
                    '                          <span>'+ mesPro[i].materielCode+'</span>\n' +
                    '                       </td>\n' + mesProDTag +
                    '                     </tr>\n' +
                    '                </tbody>'
                mesProDetail.push(mesProText);
            }
            var mesProText = '<div class="col-sm-12" style="margin-top: 5px;">' +
                '                            <div class="panel panel-primary">' +
                '                                <div class="panel-heading" style="text-align: center;padding: 0px;min-height: 20px">' +
                '                                    <span style="font-weight: bold;">追溯明细</span>' +
                '                                </div>' +
                '                                <div class="panel-body">'+
                '                                    <table class="table table-striped table-bordered table-hover">' +
                '                                        <thead>' +
                '                                        <tr>' +
                '                                            <th width="30%">关联编码</th>' +
                '                                            <th width="70%">批次信息</th>' +
                '                                        </tr>' +
                '                                        </thead>' + mesProDetail +
                '                                    </table>' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>';
            mesDetail.push(mesProText);
            var startTimePro = '--';
            if (mesData.startTimePro != null) {
                startTimePro = mesData.startTimePro;
            }
            var endTimePro = '--';
            if (mesData.endTimePro != null) {
                endTimePro = mesData.endTimePro;
            }
            var mesItem = '<div class="col-sm-12">\n' +
                '                            <div class="panel panel-primary">\n' +
                '                                <div class="panel-heading" style="text-align: center;padding: 0px;min-height: 20px">\n' +
                '                                    <span style="font-weight: bold;font-size: large">MES信息追溯表</span>\n' +
                '                                </div>\n' +
                '                                <div class="panel-body" style="max-height: 650px;overflow-y: scroll;font-size: 16px;margin-top: 1px">\n' +
                '                                    <div class="col-sm-3">\n' +
                '                                        <span>批次号：</span><span>'+mesData.proMesCode  +'</span>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-sm-3">\n' +
                '                                        <span>产品编码：</span><span>'+ mesData.productCodePro +'</span>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-sm-3">\n' +
                '                                        <span>产品名称：</span><span>'+ mesData.productNamePro +'</span>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-sm-3">\n' +
                '                                        <span>工单号：</span><span>'+ mesData.workCodePro +'</span>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-sm-3">\n' +
                '                                        <span>产线：</span><span>'+ mesData.lineNamePro +'</span>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-sm-3">\n' +
                '                                        <span>生产数量：</span><span>'+ mesData.workNumber +'</span>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-sm-3">\n' +
                '                                        <span>开始时间：</span><span>'+ startTimePro +'</span>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-sm-3">\n' +
                '                                        <span>结束时间：</span><span>'+ endTimePro +'</span>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </div>\n' + mesDetail
            $("#initData").append(mesItem);
        }
    }

    /**
     * 下一页
     */
    function nextPage() {
        $("#backPage").css("display","inline-block");
        yeNum = yeNum + 1;
        getData(yeNum);
    }

    /**
     * 上一页
     */
    function backPage() {
        yeNum = yeNum - 1;
        if (yeNum == 1) {
            $("#backPage").css("display","none");
        }
        getData(yeNum);
    }
</script>
</body>
</html>
