<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mes.mesBatchRule.mapper.MesBatchRuleMapper">
    
    <resultMap type="MesBatchRule" id="MesBatchRuleResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="ruleName"    column="rule_name"    />
        <result property="pType"    column="p_type"    />
        <result property="materiels"    column="materiels"    />
        <result property="cTime"    column="c_time"    />
        <result property="uTime"    column="u_time"    />
    </resultMap>
	
	<sql id="selectMesBatchRuleVo">
        select id, company_id, rule_name, p_type, materiels, c_time, u_time from tab_mes_batch_rule
    </sql>
	
    <select id="selectMesBatchRuleList" parameterType="MesBatchRule" resultMap="MesBatchRuleResult">
        <include refid="selectMesBatchRuleVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="companyId != null "> and company_id = #{companyId}</if>
             <if test="ruleName != null  and ruleName != '' "> and rule_name like concat('%',#{ruleName},'%') </if>
             <if test="pType != null and pType != -1 "> and p_type = #{pType}</if>
             <if test="materiels != null  and materiels != '-1' "> and materiels like concat('%',#{materiels},'%')</if>
             <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(c_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
             </if>
             <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(c_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
             </if>
         </where>
    </select>
    
    <select id="selectMesBatchRuleById" parameterType="Integer" resultMap="MesBatchRuleResult">
        <include refid="selectMesBatchRuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMesBatchRule" parameterType="MesBatchRule" useGeneratedKeys="true" keyProperty="id">
        insert into tab_mes_batch_rule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">company_id,</if>
			<if test="ruleName != null  and ruleName != ''  ">rule_name,</if>
			<if test="pType != null  ">p_type,</if>
			<if test="materiels != null  and materiels != ''  ">materiels,</if>
			<if test="cTime != null  ">c_time,</if>
			<if test="uTime != null  ">u_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">#{companyId},</if>
			<if test="ruleName != null  and ruleName != ''  ">#{ruleName},</if>
			<if test="pType != null  ">#{pType},</if>
			<if test="materiels != null  and materiels != ''  ">#{materiels},</if>
			<if test="cTime != null  ">#{cTime},</if>
			<if test="uTime != null  ">#{uTime},</if>
         </trim>
    </insert>
	 
    <update id="updateMesBatchRule" parameterType="MesBatchRule">
        update tab_mes_batch_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="ruleName != null  and ruleName != ''  ">rule_name = #{ruleName},</if>
            <if test="pType != null  ">p_type = #{pType},</if>
            <if test="materiels != null  and materiels != ''  ">materiels = #{materiels},</if>
            <if test="cTime != null  ">c_time = #{cTime},</if>
            <if test="uTime != null  ">u_time = #{uTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteMesBatchRuleById" parameterType="Integer">
        delete from tab_mes_batch_rule where id = #{id}
    </delete>
	
    <delete id="deleteMesBatchRuleByIds" parameterType="String">
        delete from tab_mes_batch_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过规格名称查询规格信息-->
    <select id="selectMesBatchRuleByName" resultMap="MesBatchRuleResult">
        SELECT * FROM tab_mes_batch_rule where company_id = #{companyId} and rule_name = #{ruleName} limit 1
    </select>

    <!--根据规则类型查询对应的规则列表-->
    <select id="selectMesRuleByType" resultMap="MesBatchRuleResult">
      SELECT * FROM tab_mes_batch_rule where p_type =#{type};
    </select>

    <!--查询所有的MES规则-->
    <select id="selectAllMesRule" resultMap="MesBatchRuleResult">
        SELECT * FROM tab_mes_batch_rule
    </select>
    
</mapper>