<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-iso-edit" th:object="${iso}">
            <input id="isoId" name="isoId" th:field="*{isoId}"  type="hidden">
			<input id="iType" name="iType" th:field="*{iType}"  type="hidden">
			<div class="form-group" th:if="${iso.iType == 0}">
				<label  class="col-sm-3 control-label">文件夹名称：</label>
				<div class="col-sm-8">
					<input id="cName" name="cName" th:field="*{cName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group" th:if="${iso.iType == 1}">
				<label  class="col-sm-3 control-label">文件名称：</label>
				<div class="col-sm-8">
					<input id="eName" name="eName" th:field="*{eName}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "iso/iso";
		$("#form-iso-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
				var cName = $.common.trim($("#cName").val());
	        	var eName = $.common.trim($("#eName").val());
	        	if (cName.indexOf(".")!= -1 || eName.indexOf(".") != -1) {
	        	    $.modal.alertWarning("名称不能有小数点");
	        	    return;
	        	}
	            $.operate.save(prefix + "/edit", $('#form-iso-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
