<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <!--<div class="container-div">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-12 search-collapse">-->
                <!--<form id="add-file-form" enctype="multipart/form-data">-->
                    <!--<input type="hidden" id="parentId" name="parentId" th:value="${parentId}">-->
                    <!--<div class="select-list">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<input type="file" id="file" name="file" required>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-sm-12 select-table table-striped">&ndash;&gt;-->
                <!--&lt;!&ndash;<table id="bootstrap-table" data-mobile-responsive="true"></table>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form id="add-file-form" enctype="multipart/form-data">
            <input type="hidden" id="parentId" name="parentId" th:value="${parentId}">
            <div class="form-group">
                <label class="col-sm-3 control-label">上传文件：</label>
                <div class="col-sm-8">
                    <input type="file" id="file" name="file" required>
                </div>
            </div>
        </form>
    </div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    /**
     * 添加文件
     */
    function toAddFile() {

    }

    function submitHandler() {
        if(!$('#file')[0].files[0]){
            $.modal.alertWarning("请选择上传的文件")
            return;
        }
        var formData = new FormData();
        formData.append("sopfile", $('#file')[0].files[0]);
        formData.append("parentId", [[${parentId}]]);
        $.ajax({
            url: "/iso/iso/uploadSop",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (result) {
                $.operate.successCallback(result);
            }
        });
    }

</script>
</body>
</html>
