<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:utext="${data != null ? data.fileSize:'作业指导书'}"></title>
    <script src="https://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://www.jq22.com/demo/jquerypdf201808150005/js/jquery.media.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var isoId = [[${msg == null && data != null?data.isoId:0}]];
        var height = $(window).height() - 50;
        getCode();
        function getCode() {
            var i = self.setInterval("countdown()", 1000);
        }
        function countdown() {
            var myDate = new Date();
            //获取当前年
            var year = myDate.getFullYear();
            //获取当前月
            var month = myDate.getMonth() + 1;
            //获取当前日
            var date = myDate.getDate();
            var h = myDate.getHours();       //获取当前小时数(0-23)
            var m = myDate.getMinutes();     //获取当前分钟数(0-59)
            var s = myDate.getSeconds();
            var now = year + '-' + getNow(month) + "-" + getNow(date) + " " + getNow(h) + ':' + getNow(m) + ":" + getNow(s);
            // 赋值给展示时间
            $('#now_time').text('系统时间:' + now);
        }
        // 获取当前时间
        function getNow(s) {
            return s < 10 ? '0' + s : s;
        }

        $(function () {
            $("#view").attr("height",height);
        });
        $(document).ready(function() {
            setInterval(getData, 30*1000);
        });
        function getData() {
            $.post("/c/d/"+[[${code}]],function (res) {
                if(res.code == 0 && res.data){
                    if(res.data.isoId != isoId && isoId != 0){
                        isoId = res.data.isoId;
                        $("div[class='panel-body']").children().remove();
                        if(res.data.cId == 1){
                            var data = '<div class="media" style="background-color: rgb(255, 255, 255); width: 100%;">' +
                                '<iframe width="100%" height="' + height + '" ' +
                                'src="'+res.data.path+'"></iframe></div>'
                                $("div[class='panel-body']").append(data);
                        }else{
                            var item = '<img src="'+res.data.path+'" width="100%" height="' + height + '"/>';
                                $("div[class='panel-body']").append(item);
                        }
                    }
                }else{
                    $("div[class='panel-body']").children().remove();
                    var item ='<h1>'+res.msg+'</h1>'
                    $("div[class='panel-body']").append(item);
                    isoId =0;
                }
            });
        }
    </script>
</head>
<body style="background-color: #e0e0e0">
<center>
    <div class="panel panel-primary">
        <div class="panel-heading" align="center">
           <span style="font-size: 20px;font-weight: 600;margin-top: 10px;margin-bottom: 10px;"
                 th:utext="${data != null ? data.fileSize:'作业指导书'}"></span>
            <span id="now_time" style="position: fixed;top: 10px;right: 10px;">系统时间：209-06-17 15:25:25</span>
        </div>
        <div class="panel-body">
            <h1 th:if="${msg != null}" th:utext="${msg}"></h1>
            <div th:if="${msg == null && data != null and data.cId == 1}" class="media" style="background-color: rgb(255, 255, 255); width: 100%;">
                <iframe width="100%" height="600" id="view"
                        th:src="${data.path}"></iframe>
            </div>
            <img id="view" th:if="${msg == null && data != null and data.cId == 0}" th:src="${data.path}" width="100%" height="600"/>
        </div>
</center>
</body>
</html>