<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-mesBatchRule-add" th:object="${mesBatchRule}">
        <input id="id" name="id" th:field="*{id}"  type="hidden">
        <div class="form-group col-sm-6" >
            <label class="col-sm-4 control-label">规则名称：</label>
            <div class="col-sm-8">
                <input id="ruleName" name="ruleName" th:field="*{ruleName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">配置类型：</label>
            <div class="col-sm-8">
                <select id="pType" name="pType" class="form-control" onchange="changeCofType(this)" th:field="*{pType}">
                    <option value="-1">请选择</option>
                    <option value="0">成品</option>
                    <option value="1">半成品</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label">关联编码：</label>
            <div class="col-sm-10">
                <div class="col-sm-12">
                    <a class="btn btn-primary btn-sm" id="add-detail-btn"  onclick="addMatCode()">
                        <i class="fa fa-plus"></i>新增
                    </a>
                </div>
                <div class="col-sm-12" style="margin-top: 5px">
                    <table class="table table-striped table-bordered table-hover " id="mes-detail">
                        <thead>
                        <tr>
                            <th width="70%">编码信息</th>
                            <th width="20%">排序</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <tbody id="add-mes-detail">
                            <tr th:if="${not #lists.isEmpty(mesBatchRule.mesBatchRuleDetails) && (mesBatchRule.mesBatchRuleDetails).size() > 0}"
                            th:each="item:${mesBatchRule.mesBatchRuleDetails}">
                                <td>
                                    <select name="dCode" class="form-control">
                                        <option th:value="${item.dCode}" th:text="${item.dCode}" th:data-dtype="${item.dType}" selected></option>
                                    </select>
                                </td>
                                <td>
                                    <input onchange="checkRuleSize(this)" name="ruleOrder" type="number" class="form-control" th:value="${item.ruleOrder}">
                                </td>
                                <td>
                                    <a class="btn  btn-danger btn-del btn-sm" name="removeBtn"  onclick="removeMatCode(this)"><i class="fa fa-remove"></i>移除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "mes/mesBatchRule"
    $("#form-mesBatchRule-add").validate({
        rules:{
            ruleName:{
                required:true,
                remote: {
                    url: prefix + "/checkMesRuleNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name : function() {
                            return $.common.trim($("#ruleName").val());
                        },
                        id : function() {
                            return $.common.trim($("#id").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
        },
        messages:{
            ruleName:{
                required:"规格名称必填",
                remote:"规格名称已存在",
            }
        }
    });
    var totalNum = [[${mesBatchRule.totalNum}]];
    if (totalNum >= 6) {
        $("#add-detail-btn").css("display","none"); //隐藏
    }
    /**
     * 配置类型改变关联信息更新
     */
    function changeCofType(val) {
        $("#add-mes-detail").children().remove();
        totalNum = 0;
        orderNum = 0;
        $("#add-detail-btn").css("display","inline-block"); //显示
    }

    var orderNum = [[${mesBatchRule.totalNum}]];

    /**
     * 添加MES物料明细
     */
    function addMatCode() {
        var pType = $("#pType").find("option:selected").val();
        if (pType <= -1) {
            $.modal.alertWarning("请选择配置类型");
            return;
        }
        if (pType > -1){
            orderNum ++;
            $.post(prefix + "/selectPType",{"pType":pType},function (res) {
                var item = [];
                item.push("<option value='' >请选择</option>")
                if (res.code == web_status.SUCCESS) {
                    var mat = res.data.matList;
                    for (var i = 0; i < mat.length; i++) {
                        item.push("<option value='" + mat[i].materielCode + "' data-dtype='2'>" + mat[i].materielCode + "</option>")
                    }
                    var parts = res.data.parList;
                    for (var j = 0; j < parts.length; j++) {
                        item.push("<option value='" + parts[j].productCode + "' data-dtype='1'>" + parts[j].productCode + "</option>")
                    }
                    var mesDetailText = '<tr name="tr-mes-detail">' +
                        '                                <td>' +
                        '                                    <select name="dCode" class="form-control">'+ item +
                        '                                    </select>' +
                        '                                </td>' +
                        '                                <td><input type="number" onchange="checkRuleSize(this)" class="form-control" name="ruleOrder" value="'+ orderNum +'"></td>' +
                        '                                <td>' +
                        '                                    <a class="btn  btn-danger btn-del btn-sm" name="removeBtn"  onclick="removeMatCode(this)">' +
                        '                                    <i class="fa fa-remove"></i>移除</a>' +
                        '                                </td>' +
                        '                            </tr>';
                    $("#add-mes-detail").append(mesDetailText);
                    $("#add-mes-detail select").select2({
                        width: "100%",
                    });
                }
            })
            totalNum++;
            if (totalNum == 6) {
                $("#add-detail-btn").css("display","none"); //隐藏
            }
        }
    }

    /**
     * 移除MES物料信息
     */
    function removeMatCode(val) {
        $(val).parent("td").parent("tr").remove();
        totalNum--;
        orderNum--;
        if (totalNum < 6) {
            $("#add-detail-btn").css("display","inline-block"); //显示
        }
    }

    function submitHandler() {
        if ($.validate.form()) {
            var pType = $("#pType").find("option:selected").val();
            if (pType <= -1) {
                $.modal.alertWarning("请选择配置类型");
                return;
            }
            //封装MES规则明细
            var tagNum = 0;
            var mesRuleDetail = [];
            var checkCodeNum = 0;
            var checkArray = new Array();
            var checkOrderNum = 0;
            var checkOrderArray = new Array();
            $("#add-mes-detail").find("tr").each(function () {
                var item = {};
                item.dType = $(this).find("td").find("select").find("option:selected").attr("data-dtype");//编码类型
                item.dCode = $(this).find("td").find("select").find("option:selected").val(); // 物料编码
                item.ruleOrder = $(this).find("td").find("input[name='ruleOrder']").val(); // 排序
                if (item.dType == null || item.dType == '') {
                    tagNum++;
                }
                if (item.dCode != null && item.dCode != ""){
                    var index = $.inArray(item.dCode,checkArray);
                    if(index >= 0){
                        checkCodeNum ++;
                    }else {
                        checkArray.push(item.dCode);
                    }
                }
                if (item.ruleOrder != null && item.ruleOrder != ""){
                    var index = $.inArray(item.ruleOrder,checkOrderArray);
                    if(index >= 0 || item.ruleOrder <= 0){
                        checkOrderNum ++;
                    }else {
                        checkOrderArray.push(item.ruleOrder);
                    }
                }
                mesRuleDetail.push(item);
            })
            var mesRule = {
                ruleName:$("#ruleName").val(),
                id:$("#id").val(),
                pType:pType
            }
            if (mesRuleDetail.length <= 0) {
                $.modal.alertWarning("请添加MES规则明细");
                return;
            }
            if (tagNum > 0) {
                $.modal.alertWarning("编码信息必填");
                return;
            }
            if (checkCodeNum > 0) {
                $.modal.alertWarning("规则编码不能相同");
                return;
            }
            if (checkOrderNum > 0) {
                $.modal.alertWarning("排序必须大于0并且不能相同");
                return;
            }
            mesRule.mesBatchRuleDetails = mesRuleDetail;
            var config = {
                url: prefix + "/edit",
                type: "post",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(mesRule),
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function (result) {
                    $.operate.successCallback(result);
                }
            };
            $.ajax(config)
        }
    }

    /**
     * 校验排序长度
     */
    function checkRuleSize(val) {
        var inputVal = val.value;
        var ruleSize =  $("#add-mes-detail").find("tr").length;
        if (inputVal > ruleSize) {
            $(val).parent("td").find("input[name='ruleOrder']").val(ruleSize);
        }
    }
</script>
</body>
</html>
