<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.production.singleWork.mapper.SingleWorkMapper">
    
    <resultMap type="SingleWork" id="SingleWorkResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="workshopName"    column="workshop_name"    />
        <result property="imId"    column="im_id"    />
        <result property="sign"    column="sign"    />
        <result property="liableOne"    column="liable_one"    />
        <result property="liableTwo"    column="liable_two"    />
        <result property="devId"    column="dev_id"    />
        <result property="devCode"    column="dev_code"    />
        <result property="cTime"    column="c_time"    />
        <result property="parentId"    column="parent_id"    />
        <association property="liableOneName" column="liable_one" select="selectOneName">
            <result property="liableOneName" column="user_name"/>
        </association>
        <association property="liableTwoName" column="liable_two" select="selectTwoName">
            <result property="liableTwoName" column="user_name"/>
        </association>
        <association property="imCode" column="im_id" select="selectImCode">
            <result property="imCode" column="im_code"/>
        </association>
    </resultMap>
	
	<sql id="selectSingleWorkVo">
        select id, company_id, workshop_name, im_id, sign, liable_one, liable_two, dev_id, dev_code, c_time, parent_id from tab_single_work
    </sql>
	
    <select id="selectSingleWorkList" parameterType="SingleWork" resultMap="SingleWorkResult">
        <include refid="selectSingleWorkVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="companyId != null "> and company_id = #{companyId}</if>
             <if test="workshopName != null  and workshopName != '' "> and workshop_name = #{workshopName}</if>
             <if test="imId != null and imId != -1"> and im_id = #{imId}</if>
             <if test="sign != null "> and sign = #{sign}</if>
             <if test="liableOne != null and liableOne != -1"> and liable_one = #{liableOne}</if>
             <if test="liableTwo != null "> and liable_two = #{liableTwo}</if>
             <if test="devId != null and devId != -1 "> and dev_id = #{devId}</if>
             <if test="devCode != null  and devCode != '' "> and dev_code = #{devCode}</if>
             <if test="cTime != null "> and c_time = #{cTime}</if>
             <if test="parentId != null "> and parent_id = #{parentId}</if>
         </where>
    </select>

    <!--查询责任人一的名称-->
    <select id="selectOneName" resultType="java.lang.String">
        SELECT user_name FROM sys_user where user_id = #{liableOne};
    </select>
    <select id="selectTwoName" resultType="java.lang.String">
        SELECT user_name FROM sys_user where user_id = #{liableTwo};
    </select>

    <!--查询设备的编号-->
    <select id="selectImCode" resultType="java.lang.String">
        SELECT im_code FROM tab_instrument_manage where id = #{imId};
    </select>
    
    <select id="selectSingleWorkById" parameterType="Integer" resultMap="SingleWorkResult">
        <include refid="selectSingleWorkVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSingleWork" parameterType="SingleWork" useGeneratedKeys="true" keyProperty="id">
        insert into tab_single_work
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">company_id,</if>
			<if test="workshopName != null  and workshopName != ''  ">workshop_name,</if>
			<if test="imId != null  ">im_id,</if>
			<if test="sign != null  ">sign,</if>
			<if test="liableOne != null  ">liable_one,</if>
			<if test="liableTwo != null  ">liable_two,</if>
			<if test="devId != null  ">dev_id,</if>
			<if test="devCode != null  and devCode != ''  ">dev_code,</if>
			<if test="cTime != null  ">c_time,</if>
			<if test="parentId != null  ">parent_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">#{companyId},</if>
			<if test="workshopName != null  and workshopName != ''  ">#{workshopName},</if>
			<if test="imId != null  ">#{imId},</if>
			<if test="sign != null  ">#{sign},</if>
			<if test="liableOne != null  ">#{liableOne},</if>
			<if test="liableTwo != null  ">#{liableTwo},</if>
			<if test="devId != null  ">#{devId},</if>
			<if test="devCode != null  and devCode != ''  ">#{devCode},</if>
			<if test="cTime != null  ">#{cTime},</if>
			<if test="parentId != null  ">#{parentId},</if>
         </trim>
    </insert>
	 
    <update id="updateSingleWork" parameterType="SingleWork">
        update tab_single_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="workshopName != null  and workshopName != ''  ">workshop_name = #{workshopName},</if>
            <if test="imId != null  ">im_id = #{imId},</if>
            <if test="sign != null  ">sign = #{sign},</if>
            <if test="liableOne != null  ">liable_one = #{liableOne},</if>
            <if test="liableTwo != null  ">liable_two = #{liableTwo},</if>
            <if test="devId != null  ">dev_id = #{devId},</if>
            <if test="devCode != null  and devCode != ''  ">dev_code = #{devCode},</if>
            <if test="cTime != null  ">c_time = #{cTime},</if>
            <if test="parentId != null  ">parent_id = #{parentId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSingleWorkById" parameterType="Integer">
        delete from tab_single_work where id = #{id}
    </delete>
	
    <delete id="deleteSingleWorkByIds" parameterType="String">
        delete from tab_single_work where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过车间名称查询车间信息-->
    <select id="selectSingleWorkByWorkshopName" resultMap="SingleWorkResult">
        SELECT * FROM tab_single_work where company_id = #{companyId} and workshop_name = #{workshopName}
    </select>

    <!--通过父id查询单工位列表-->
    <select id="selectSingleWorkByParentId" resultMap="SingleWorkResult">
        SELECT * FROM tab_single_work where company_id = #{companyId} and parent_id = #{parentId}
    </select>
    
</mapper>