<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sopLine-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司id：</label>
				<div class="col-sm-8">
					<input id="companyId" name="companyId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">作业指定数id，文件夹：</label>
				<div class="col-sm-8">
					<input id="sopId" name="sopId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产线id：</label>
				<div class="col-sm-8">
					<input id="lineId" name="lineId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品id：</label>
				<div class="col-sm-8">
					<input id="pnId" name="pnId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品编码：</label>
				<div class="col-sm-8">
					<input id="pnCode" name="pnCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改者id：</label>
				<div class="col-sm-8">
					<input id="cId" name="cId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="cTime" name="cTime" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "iso/sopLine"
		$("#form-sopLine-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-sopLine-add').serialize());
	        }
	    }
	</script>
</body>
</html>
