<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-sopLine-add" th:if="${sop != null}">
        <input type="hidden" id="id" name="id" th:value="${sop.id}">
        <input type="hidden" id="sopId" name="sopId" th:value="${sop.sopId}">
        <div class="form-group">
            <label class="col-sm-3 control-label">配置名称：</label>
            <div class="col-sm-8">
                <input type="text" id="cnfName" name="cnfName" th:value="${sop.cnfName}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">车间：</label>
            <div class="col-sm-8">
                <select style="width: 100%" id="houseId" onchange="houseChange(this)" name="houseId"
                        class="form-control">
                    <option value="0">请选择</option>
                    <option th:each="item : ${house}" th:text="${item.workshopName}" th:value="${item.id}"
                            th:selected="${houseId == item.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">单工位：</label>
            <div class="col-sm-8">
                <select style="width: 100%" id="wId" class="form-control" name="wId" onchange="singWorkChange(this)">
                    <option value="0">请选择</option>
                    <option th:each="item : ${singWorks}" th:text="${item.imCode}" th:value="${item.id}"
                            th:selected="${sop.lineId == item.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">产品编码：</label>
            <div class="col-sm-8">
                <select style="width: 100%" id="pnId" multiple="multiple" class="form-control" name="pnId">
                    <option th:if="${not #lists.isEmpty(sopLines) && sopLines.size() > 0}" th:each="pn:${sopLines}"
                            selected th:text="${pn.pnCode}" th:value="${pn.pnId}"></option>
                    <option th:each="item : ${pns}" th:text="${item.productCode}" th:value="${item.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">选择作业指导书：</label>
            <div class="col-sm-8">
                <select id="pageId" style="width: 100%" name="pageId" class="form-control">
                    <option value="0">请选择</option>
                    <option th:if="${not #lists.isEmpty(pages)}" th:each="item:${pages}"
                            th:value="${item.isoId}" th:utext="${item.cName}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">

    $("#form-sopLine-add").validate({
        rules:{
            cnfName:{
                required:true,
                remote: {
                    url: ctx + "iso/sop/checkCnfNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name : function() {
                            return $.common.trim($("#cnfName").val());
                        },
                        id : function() {
                            return $.common.trim($("#id").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            }
        },
        messages:{
            cnfName:{
                required:"配置名称必填",
                remote:"配置名称已存在",
            }
        }
    });


    $(function () {
        $("#houseId").select2({
            placeholder: '请选择',
            width: '100%'
        });
        $("#pnId").select2({
            placeholder: '请选择',
            width: '100%'
        });
        $("#swId").select2({
            placeholder: '请选择',
            width: '100%'
        });
        $("#pageId").select2({
            placeholder: '请选择',
            width: '100%'
        });
        $('select').select2();
        var workConfig = [[${sopLineWork}]];
        if (workConfig != null) {
            $("#pageId").val(workConfig.pageId).trigger('change');
        }
    });
    var prefix = ctx + "iso/sopLine";

    /**
     * 保存配置
     */
    function submitHandler() {
        if ($.validate.form()) {
            //先验车间
            var houseId = $("#houseId").find("option:selected").val();
            if (houseId <= 0) {
                $.modal.alertWarning("请选择车间");
                return;
            }
            //验证单工位
            var wId = $("#wId").find("option:selected").val();
            if (wId <= 0) {
                $.modal.alertWarning("请选择单工位信息");
                return;
            }
            // 验证产品
            var pnSelect = $("#pnId").find("option:selected");
            if ($(pnSelect).size() <= 0) {
                $.modal.alertWarning("请选择产品编码");
                return;
            }
            var pageId = $("#pageId").find("option:selected").val();
            if (pageId <= 0) {
                $.modal.alertWarning("请选择指导书页");
                return;
            }
            var pns = [];
            for (var i = 0; i < $(pnSelect).size(); i++) {
                pns.push($(pnSelect[i]).val())
            }
            // 单工位信息
            var sopLines = [];
            var work = {
                lineId: houseId,
                sopId: $("#sopId").val(),
                sopTag: 1,
                wId: wId,
                pageId: pageId,
            }
            sopLines.push(work);
            var data = {
                id:$("#id").val(),
                cnfName: $("#cnfName").val(),
                lineId: wId,
                sopId: $("#sopId").val(),
                pnsId: pns,
                sopTag: 1,
                sopLines: sopLines
            }
            var config = {
                url: ctx + "iso/sop/edit",
                type: "post",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(data),
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function (result) {
                    $.operate.successCallback(result);
                }
            };
            $.ajax(config)
        }
    }

    /**
     * 车间下拉选择
     */
    function houseChange(val) {
        // 车间id
        var houseId = $(val).find("option:selected").val();
        if (houseId > 0) {
            $("#wId option").remove();
            $("#pnId option").remove();
            $("#wId select").select2({
                data: [{id: 0, text: '请选择'}]
            });
            //查询所有对应车间的单工位信息
            $.post("/production/singleWork/selectSingWorkByPId", {houseId: houseId}, function (res) {
                if (res.code == 0) {
                    var rows = [{id: 0, text: '请选择'}];
                    var item = res.data;
                    for (var i = 0; i < item.length; i++) {
                        var row = {
                            id: item[i].id,
                            text: item[i].imCode
                        }
                        rows.push(row);
                    }
                    $("#wId").select2({
                        data: rows
                    });
                } else {
                    $.modal.alertWarning("操作异常...")
                }
            })
        } else {
            var data = [{id: 0, text: '请选择'}];
            $("#wId option").remove();
            $("#pnId option").remove();
            $("#wId").select2({
                data: data
            });
        }
    }

    /**
     * 单工位下拉改变
     */
    function singWorkChange(val) {
        // 单工位id
        var wId = $(val).find("option:selected").val();
        if (wId > 0) {
            $("#pnId option").remove();
            $("#pnId select").select2({
                data: [{id: 0, text: '请选择'}]
            });
            //查询所有对应车间的单工位信息
            $.post("/production/singleWork/selectNotConfigSop", {wId: wId}, function (res) {
                if (res.code == 0) {
                    var rows = [{id: 0, text: '请选择'}];
                    var item = res.data;
                    for (var i = 0; i < item.length; i++) {
                        var row = {
                            id: item[i].id,
                            text: item[i].productCode
                        }
                        rows.push(row);
                    }
                    $("#pnId").select2({
                        data: rows
                    });
                } else {
                    $.modal.alertWarning("操作异常...")
                }
            })
        } else {
            var data = [{id: 0, text: '请选择'}];
            $("#pnId option").remove();
            $("#pnId").select2({
                data: data
            });
        }
    }

</script>
</body>
</html>
