<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <input type="hidden" id="sopId" name="sopId" th:value="${isoId}">
                    <ul>
                        <li>
                            工位设备：
                            <select name="lineId" id="lineId">
                                <option value="-1">请选择</option>
                                <option th:each="item : ${allSw}" th:text="${item.imCode}" th:value="${item.id}"></option>
                            </select>
                        </li>
                        <li>
                            产品编码：<input type="text" name="pnCode"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="iso:sopLine:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="iso:sopLine:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="iso:sopLine:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('iso:sopLine:edit')}]];
    var removeFlag = [[${@permission.hasPermi('iso:sopLine:remove')}]];
    var prefix = ctx + "iso/sopLine";

    $(function () {
        var options = {
            url: prefix + "/list2",
            addSingWorkUrl: prefix + "/addSingWork",
            editSingWorkUrl: prefix + "/editSingWork",
            removeSingWorkUrl: prefix + "/removeSingWork",
            exportUrl: prefix + "/export",
            modalName: "单工位作业指导配置",
            search: false,
            showExport: false,
            showSearch: true,
            showRefresh: true,
            showColumns: false,
            showToggle: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'lineId',
                    title: '工位设备编码',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.imName;
                    }
                },
                {
                    field: 'sopId',
                    title: 'SOP',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.sopName;
                    }
                },
                {
                    field: 'pnCode',
                    title: '产品编码',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="edit(\'' + row.lineId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="remove(\'' + row.lineId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
        $.table.search("formId")
    });

    /**
     * 添加单工位SOP配置
     */
    function add() {
        var url = $.table._option.addSingWorkUrl + "/" + [[${isoId}]];
        $.modal.open("添加SOP单工位配置", url, 800, 500);
    }

    /**
     * 修改sop 单工位配置
     * @param sopId SOP id
     */
    function edit(lineId) {
        var url = $.table._option.editSingWorkUrl + "/" + [[${isoId}]] + "/" + lineId;
        $.modal.open("修改单工位SOP配置", url, 800, 500);
    }

    /**
     * 删除sop单工位配置
     * @param sopId SOP id
     */
    function remove(lineId) {
        $.modal.confirm("确定删除该条" + $.table._option.modalName + "信息吗？", function () {
            var url = $.table._option.removeSingWorkUrl;
            var data = {lineId: lineId, sopId: [[${isoId}]]};
            $.operate.submit(url, "post", "json", data);
        });
    }
</script>
</body>
</html>