<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <input type="hidden" id="sopId" name="sopId" th:value="${isoId}">
                    <ul>
                        <li>
                            配置名称：<input type="text" name="cnfName"/>
                        </li>
                        <li>
                            工位设备：
                            <select name="lineId" id="lineId">
                                <option value="-1">请选择</option>
                                <option th:each="item : ${allSw}" th:text="${item.imCode}" th:value="${item.id}"></option>
                            </select>
                        </li>
                        <li>
                            产品编码：<input type="text" name="pCode"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "iso/sop";

    $(function () {
        var options = {
            url: prefix + "/list2",
            modalName: "单工位作业指导配置",
            search: false,
            showExport: false,
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            columns: [
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field : 'cnfName',
                    title : '配置名称',
                    sortable: true,
                },
                {
                    field: 'lineId',
                    title: '工位设备编码',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return row.lineName;
                    }
                },
                {
                    field: 'pCode',
                    title: '产品编码',
                    sortable: true,
                    width:400,
                    formatter:function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                }]
        };
        $.table.init(options);
        $.table.search("formId")
    });

    // 关闭窗口
    function submitHandler() {
        $.modal.close();
    }
</script>
</body>
</html>