<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.insmanage.instrumentManage.mapper.InstrumentManageMapper">
    
    <resultMap type="InstrumentManage" id="InstrumentManageResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="imCode"    column="im_code"    />
        <result property="imName"    column="im_name"    />
        <result property="imModel"    column="im_model"    />
        <result property="inType"    column="in_type"    />
        <result property="imDepartment"    column="im_department"    />
        <result property="imLiable"    column="im_liable"    />
        <result property="imStatus"    column="im_status"    />
        <result property="imCheckNumber"    column="im_check_number"    />
        <result property="imCheckPeriod"    column="im_check_period"    />
        <result property="imCheckBook"    column="im_check_book"    />
        <result property="imCheckMechanism"    column="im_check_mechanism"    />
        <result property="imSupplier"    column="im_supplier"    />
        <result property="imStartTime"    column="im_start_time"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="imTag"    column="im_tag"    />
        <result property="imStartDate"    column="im_start_date"    />
        <result property="imEndDate"    column="im_end_date"    />
        <association property="imLiableName" column="im_liable" select="selectLiableName">
            <result property="imLiableName" column="user_name"/>
        </association>
        <association property="inTypeName" column="in_type" select="selectInstype">
            <result property="inTypeName" column="in_type"/>
        </association>
    </resultMap>
	
	<sql id="selectInstrumentManageVo">
        select id, company_id, im_code, im_name, im_model,in_type, im_department, im_liable, im_status, im_check_number, im_check_period, im_check_book,
        im_check_mechanism, im_supplier, im_start_time, create_id, create_time,im_tag,im_start_date,im_end_date from tab_instrument_manage
    </sql>
	
    <select id="selectInstrumentManageList" parameterType="InstrumentManage" resultMap="InstrumentManageResult">
        <include refid="selectInstrumentManageVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="companyId != null "> and company_id = #{companyId}</if>
             <if test="imCode != null  and imCode != '' ">
                 and im_code like concat (#{imCode},'%')
             </if>
             <if test="imName != null  and imName != '' "> and im_name = #{imName}</if>
             <if test="imModel != null  and imModel != '' ">
                 and im_model like concat (#{imModel},'%')
             </if>
             <if test="imDepartment != null  and imDepartment != '' ">
                 and im_department like concat (#{imDepartment},'%')
             </if>
             <if test="inType != null and  inType != -1"> and in_type = #{inType}</if>
             <if test="imLiable != null "> and im_liable = #{imLiable}</if>
             <if test="imStatus != null  and imStatus != '' "> and im_status = #{imStatus}</if>
             <if test="imCheckNumber != null  and imCheckNumber != '' "> and im_check_number = #{imCheckNumber}</if>
             <if test="imCheckPeriod != null  and imCheckPeriod != '' "> and im_check_period = #{imCheckPeriod}</if>
             <if test="imCheckBook != null  and imCheckBook != '' "> and im_check_book = #{imCheckBook}</if>
             <if test="imCheckMechanism != null  and imCheckMechanism != '' "> and im_check_mechanism = #{imCheckMechanism}</if>
             <if test="imSupplier != null  and imSupplier != '' "> and im_supplier = #{imSupplier}</if>
             <if test="imStartTime != null "> and im_start_time = #{imStartTime}</if>
             <if test="createId != null "> and create_id = #{createId}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
         </where>
    </select>
    
    <select id="selectInstrumentManageById" parameterType="Integer" resultMap="InstrumentManageResult">
        <include refid="selectInstrumentManageVo"/>
        where id = #{id}
    </select>

    <!--查询设备责任人名称-->
    <select id="selectLiableName" resultType="java.lang.String">
        SELECT user_name FROM sys_user where user_id = #{imLiable};
    </select>

    <!--查询设备类型名称-->
    <select id="selectInstype" resultType="java.lang.String">
        SELECT in_type FROM tab_instrument_type where id = #{inType};
    </select>
        
    <insert id="insertInstrumentManage" parameterType="InstrumentManage" useGeneratedKeys="true" keyProperty="id">
        insert into tab_instrument_manage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">company_id,</if>
			<if test="imCode != null  and imCode != ''  ">im_code,</if>
			<if test="imName != null  and imName != ''  ">im_name,</if>
			<if test="imModel != null  and imModel != ''  ">im_model,</if>
            <if test="inType != null  and inType != ''  ">in_type,</if>
			<if test="imDepartment != null  and imDepartment != ''  ">im_department,</if>
			<if test="imLiable != null  ">im_liable,</if>
			<if test="imStatus != null  and imStatus != ''  ">im_status,</if>
			<if test="imCheckNumber != null  and imCheckNumber != ''  ">im_check_number,</if>
			<if test="imCheckPeriod != null  and imCheckPeriod != ''  ">im_check_period,</if>
			<if test="imCheckBook != null  and imCheckBook != ''  ">im_check_book,</if>
			<if test="imCheckMechanism != null  and imCheckMechanism != ''  ">im_check_mechanism,</if>
			<if test="imSupplier != null  and imSupplier != ''  ">im_supplier,</if>
			<if test="imStartTime != null  ">im_start_time,</if>
			<if test="createId != null  ">create_id,</if>
			<if test="createTime != null  ">create_time,</if>
            <if test="imTag != null  ">im_tag,</if>
            <if test="imStartDate != null  ">im_start_date,</if>
            <if test="imEndDate != null  ">im_end_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">#{companyId},</if>
			<if test="imCode != null  and imCode != ''  ">#{imCode},</if>
			<if test="imName != null  and imName != ''  ">#{imName},</if>
			<if test="imModel != null  and imModel != ''  ">#{imModel},</if>
            <if test="inType != null  and inType != ''  ">#{inType},</if>
			<if test="imDepartment != null  and imDepartment != ''  ">#{imDepartment},</if>
			<if test="imLiable != null  ">#{imLiable},</if>
			<if test="imStatus != null  and imStatus != ''  ">#{imStatus},</if>
			<if test="imCheckNumber != null  and imCheckNumber != ''  ">#{imCheckNumber},</if>
			<if test="imCheckPeriod != null  and imCheckPeriod != ''  ">#{imCheckPeriod},</if>
			<if test="imCheckBook != null  and imCheckBook != ''  ">#{imCheckBook},</if>
			<if test="imCheckMechanism != null  and imCheckMechanism != ''  ">#{imCheckMechanism},</if>
			<if test="imSupplier != null  and imSupplier != ''  ">#{imSupplier},</if>
			<if test="imStartTime != null  ">#{imStartTime},</if>
			<if test="createId != null  ">#{createId},</if>
			<if test="createTime != null  ">#{createTime},</if>
            <if test="imTag != null  ">#{imTag},</if>
            <if test="imStartDate != null  ">#{imStartDate},</if>
            <if test="imEndDate != null  ">#{imEndDate},</if>
         </trim>
    </insert>
	 
    <update id="updateInstrumentManage" parameterType="InstrumentManage">
        update tab_instrument_manage
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="imCode != null  and imCode != ''  ">im_code = #{imCode},</if>
            <if test="imName != null  and imName != ''  ">im_name = #{imName},</if>
            <if test="imModel != null  and imModel != ''  ">im_model = #{imModel},</if>
            <if test="inType != null  and inType != ''  ">in_type = #{inType},</if>
            <if test="imDepartment != null  and imDepartment != ''  ">im_department = #{imDepartment},</if>
            <if test="imLiable != null  ">im_liable = #{imLiable},</if>
            <if test="imStatus != null  and imStatus != ''  ">im_status = #{imStatus},</if>
            <if test="imCheckNumber != null  and imCheckNumber != ''  ">im_check_number = #{imCheckNumber},</if>
            <if test="imCheckPeriod != null  and imCheckPeriod != ''  ">im_check_period = #{imCheckPeriod},</if>
            <if test="imCheckBook != null  and imCheckBook != ''  ">im_check_book = #{imCheckBook},</if>
            <if test="imCheckMechanism != null  and imCheckMechanism != ''  ">im_check_mechanism = #{imCheckMechanism},</if>
            <if test="imSupplier != null  and imSupplier != ''  ">im_supplier = #{imSupplier},</if>
            <if test="imStartTime != null  ">im_start_time = #{imStartTime},</if>
            <if test="createId != null  ">create_id = #{createId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="imTag != null  ">im_tag = #{imTag},</if>
            <if test="imStartDate != null  ">im_start_date = #{imStartDate},</if>
            <if test="imEndDate != null  ">im_end_date = #{imEndDate},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteInstrumentManageById" parameterType="Integer">
        delete from tab_instrument_manage where id = #{id}
    </delete>
	
    <delete id="deleteInstrumentManageByIds" parameterType="String">
        delete from tab_instrument_manage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过设备编码查询设备信息-->
    <select id="selectInstrumentManageByImCode" resultMap="InstrumentManageResult">
        SELECT * FROM tab_instrument_manage where im_code = #{imCode} and company_id = #{companyId} limit 1
    </select>

    <!--通过设备类型id查询设备信息-->
    <select id="selectInstrumentManageByInsTypeId" resultMap="InstrumentManageResult">
        <include refid="selectInstrumentManageVo"/>
        where in_type = #{inType}
    </select>

    <!--通过设备标记状态查询设备列表-->
    <select id="selectInstrumentManageListByImTag" resultMap="InstrumentManageResult">
        SELECT * FROM tab_instrument_manage where  company_id = #{companyId}
        <if test="imStatus != null  and imStatus != -1 "> and im_status = #{imStatus}</if>
        <if test="imTag != null and  imTag != -1"> and im_tag = #{imTag}</if>
    </select>

    <!--更新设备是否被配置的标记状态-->
    <update id="updateInstrumentManageImTag">
        update tab_instrument_manage set im_tag = #{imTag} where id = #{id}
    </update>
    
</mapper>