<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <form id="formId">
            <input type="hidden" id="saveId" name="saveId" th:value="${save_id}">
            <input type="hidden" id="ecnType" name="ecnType" th:value="${ecn_type}">
        </form>
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a id="ecn-status" th:data-status="${ecn_status}" th:class="${ecn_status == 1?'btn btn-primary':'btn btn-default'}" onclick="changeEcn()">
                <span th:utext="${ecn_status == 1?'关闭变更':'暂无变更'}"></span>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-success" onclick="addEcn()">
                <i class="fa fa-plus"></i> 新增变更
            </a>
            <a class="btn btn-primary " onclick="$.table.search()"><i
                    class="fa fa-refresh"></i>&nbsp;刷新</a>
        </div>
        <div class="col-sm-12 select-table table-striped" style="height:90% ">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>

<script th:inline="javascript">
    var prefix = ctx + "production/ecnLog";
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "变更记录",
            search: false,
            showExport: true,
            sortOrder: 'desc',
            sortName: 'createTime',
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            showExport: false,
            // queryParams:data,
            columns: [
                {
                    field: 'id',
                    title: '主键，自增长',
                    visible: false
                },
                {
                    field: 'ecnType',
                    title: '类型',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (row.ecnType == 1) {
                            return '<span style="font-weight: bold;color:green">产品变更</span>';
                        } else if (row.ecnType == 3) {
                            return '<span style="font-weight: bold;">半成品变更</span>';
                        } else {
                            return '<span style="font-weight: bold;color:blue">工单变更</span>';
                        }
                    }
                },
                {
                    field: 'ecnText',
                    title: '变更信息',
                    sortable: true
                },
                {
                    field: 'createPeople',
                    title: '操作者',
                    sortable: true,
                    width: 80
                },
                {
                    field: 'createTime',
                    title: '操作时间',
                    sortable: true,
                    width: 180
                }]
        };
        $.table.init(options);
        $.table.search();
    });


    function submitHandler() {
        $.modal.close();
        window.parent.$.table.refresh();
    }

    /**
     * 添加变更信息
     */
    function addEcn() {
        $.modal.open("添加变更", prefix + "/add?type=" + [[${ecn_type}]] + "&save_id=" + [[${save_id}]], 600, 400)
    }

    /**
     * 改变状态
     */
    function changeEcn() {
        var dataStatus = $("#ecn-status").attr("data-status");
        if(dataStatus == 0){
            $.modal.msgSuccess("暂无变更，无需改变状态");
        }else{
            $.modal.confirm("确认关闭变更状态",function (e) {
                if (e) {
                    var config = {
                        url: prefix + "/edit",
                        type: "post",
                        dataType: "json",
                        data: {
                            type: [[${ecn_type}]],
                            save_id: [[${save_id}]]
                        },
                        beforeSend: function () {
                            $.modal.loading("正在处理中，请稍后...");
                            $.modal.disable();
                        },
                        success: function (result) {
                            if (result.code == web_status.SUCCESS) {
                                $.modal.close();
                                window.parent.$.modal.msgSuccess(result.msg);
                                window.parent.$.table.refresh();
                                window.parent.$("#ecn-status").attr("data-status", 0).removeClass("btn-primary").addClass("btn-default").find("span").text("暂无变更")
                            } else {
                                $.modal.alertError(result.msg);
                            }
                            $.modal.closeLoading();
                            $.modal.enable();
                        }
                    };
                    $.ajax(config)
                }
            })
        }

    }
</script>
</body>
</html>