<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <form id="formId">
            <input type="hidden" id="saveId" name="saveId" th:value="${save_id}">
            <input type="hidden" id="ecnType" name="ecnType" th:value="${ecn_type}">
        </form>
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <!--<a id="ecn-status" th:data-status="${ecn_status}" th:class="${ecn_status == 1?'btn btn-primary':'btn btn-default'}" onclick="changeEcn()">-->
            <!--<span th:utext="${ecn_status == 1?'关闭变更':'暂无变更'}"></span>-->
            <!--</a>-->
            <!--&nbsp;&nbsp;&nbsp;-->
            <a class="btn btn-success" id="addEcn" onclick="addEcn()" th:style="${ecnLog==null?'':'display: none'}">
                <i class="fa fa-plus"></i> 新增变更
            </a>
            <a class="btn btn-primary " onclick="$.table.search()"><i
                    class="fa fa-refresh"></i>&nbsp;刷新</a>
        </div>
        <div class="col-sm-12 select-table table-striped" style="height:90% ">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>

<script th:inline="javascript">
    var prefix = ctx + "production/ecnLog";
    var cancelEcnFlag = [[${@permission.hasPermi('production:ecnLog:add')}]];
    var examEcnFlag = [[${@permission.hasPermi('production:ecnLog:examEcn')}]];
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "变更记录",
            search: false,
            showExport: true,
            sortOrder: 'desc',
            sortName: 'createTime',
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            showExport: false,
            // queryParams:data,
            columns: [
                {
                    field: 'id',
                    title: '主键，自增长',
                    visible: false
                },
                {
                    field: 'ecnType',
                    title: '类型',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (row.ecnType == 1) {
                            return '<span style="font-weight: bold;color:green">产品变更</span>';
                        } else if (row.ecnType == 3) {
                            return '<span style="font-weight: bold;">半成品变更</span>';
                        } else {
                            return '<span style="font-weight: bold;color:blue">工单变更</span>';
                        }
                    }
                },
                {
                    field: 'ecnText',
                    title: '变更信息',
                    sortable: true
                },
                {
                    field: 'createPeople',
                    title: '操作者',
                    sortable: true,
                },
                {
                    field: 'createTime',
                    title: '操作时间',
                    sortable: true,
                },
                {
                    field: 'ecnStatus',
                    title: '状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return '<span style="font-weight: bold;color: #e08e0b">待提交</span>';
                        } else if (value == 1) {
                            return '<span style="font-weight: bold;color: red">待审核</span>';
                        } else if (value == 2) {
                            return '<span style="font-weight: bold;color: #1E0FBE">待执行</span>';
                        } else if (value == 3) {
                            return '<span style="font-weight: bold;color: green">执行中</span>';
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.ecnStatus == 0) {
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="submitEcn(\'' + row.id + '\')"><i></i>提交</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + cancelEcnFlag + '" href="javascript:void(0)" onclick="cancelEcn(\'' + row.id + '\')"><i></i>取消变更</a> ');
                        } else if (row.ecnStatus == 1) {
                            actions.push('<a class="btn btn-success btn-xs ' + examEcnFlag + '" href="javascript:void(0)" onclick="examEcn(\'' + row.id + '\')"><i></i>审核</a> ');
                            actions.push('<a class="btn btn-danger  btn-xs ' + examEcnFlag + '" href="javascript:void(0)" onclick="cancelEcn(\'' + row.id + '\')"><i></i>取消变更</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
        $.table.search();
    });


    function submitHandler() {
        $.modal.close();
        window.parent.$.table.refresh();
    }

    /**
     * 添加变更信息
     */
    function addEcn() {
        $.modal.open("添加变更", prefix + "/add?type=" + [[${ecn_type}]] + "&save_id=" + [[${save_id}]], 600, 400)
    }

    /**
     * 改变状态
     */
    function changeEcn() {
        var dataStatus = $("#ecn-status").attr("data-status");
        if (dataStatus == 0) {
            $.modal.msgSuccess("暂无变更，无需改变状态");
        } else {
            $.modal.confirm("确认关闭变更状态", function (e) {
                if (e) {
                    var config = {
                        url: prefix + "/edit",
                        type: "post",
                        dataType: "json",
                        data: {
                            type: [[${ecn_type}]],
                            save_id: [[${save_id}]]
                        },
                        beforeSend: function () {
                            $.modal.loading("正在处理中，请稍后...");
                            $.modal.disable();
                        },
                        success: function (result) {
                            if (result.code == web_status.SUCCESS) {
                                $.modal.close();
                                window.parent.$.modal.msgSuccess(result.msg);
                                window.parent.$.table.refresh();
                                window.parent.$("#ecn-status").attr("data-status", 0).removeClass("btn-primary").addClass("btn-default").find("span").text("暂无变更")
                            } else {
                                $.modal.alertError(result.msg);
                            }
                            $.modal.closeLoading();
                            $.modal.enable();
                        }
                    };
                    $.ajax(config)
                }
            })
        }
    }

    /**
     * 取消ECN
     */
    function cancelEcn(id) {
        $.modal.confirm("确认取消ECN变更吗？", function (e) {
            if (e) {
                var config = {
                    url: prefix + "/cancelEcn",
                    type: "post",
                    dataType: "json",
                    data: {
                        id: id,
                        ecnType: [[${ecn_type}]],
                        saveId: [[${save_id}]]
                    },
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                    },
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            $.modal.msg("保存成功,正在刷新数据请稍后……", modal_status.SUCCESS);
                            $("#addEcn").show();
                            $.table.refresh();
                        } else {
                            $.modal.alertError(result.msg);
                        }
                        $.modal.closeLoading();
                    }
                };
                $.ajax(config)
            }
        })
    }

    /**
     * 提交ECN
     */
    function submitEcn(id) {
        $.modal.confirm("确认提交ECN变更吗？", function (e) {
            if (e) {
                var config = {
                    url: prefix + "/submitEcn",
                    type: "post",
                    dataType: "json",
                    data: {
                        id: id,
                        ecnStatus: 1,
                    },
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                    },
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            $.modal.msg("保存成功,正在刷新数据请稍后……", modal_status.SUCCESS);
                            $.table.refresh();
                        } else {
                            $.modal.alertError(result.msg);
                        }
                        $.modal.closeLoading();
                    }
                };
                $.ajax(config)
            }
        })
    }

    /**
     * 审核ECN
     */
    function examEcn(id) {
        $.modal.confirm("确认审核ECN变更吗？", function (e) {
            if (e) {
                var config = {
                    url: prefix + "/examEcn",
                    type: "post",
                    dataType: "json",
                    data: {
                        id: id,
                        ecnStatus: 2,
                    },
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                    },
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            $.modal.msg("保存成功,正在刷新数据请稍后……", modal_status.SUCCESS);
                            $.table.refresh();
                        } else {
                            $.modal.alertError(result.msg);
                        }
                        $.modal.closeLoading();
                    }
                };
                $.ajax(config)
            }
        })
    }

    function submitHandler() {
        $.modal.close();
        window.parent.$.table.refresh();
    }
</script>
</body>
</html>