<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.iso.iso.mapper.IsoMapper">

    <resultMap type="Iso" id="IsoResult">
        <result property="isoId" column="iso_id"/>
        <result property="cName" column="c_name"/>
        <result property="eName" column="e_name"/>
        <result property="disk" column="disk"/>
        <result property="diskPath" column="disk_path"/>
        <result property="path" column="path"/>
        <result property="iType" column="i_type"/>
        <result property="fileSize" column="file_size"/>
        <result property="category" column="category"/>
        <result property="companyId" column="company_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="grParentId" column="grparent_id"/>
        <result property="cId" column="c_id"/>
        <result property="cTime" column="c_time"/>
        <result property="defId" column="def_id"/>
    </resultMap>

    <sql id="selectIsoVo">
        select iso_id, c_name, e_name, disk, disk_path, path, i_type,file_size, category, company_id, parent_id,grparent_id, c_id, c_time, def_id from tab_iso
    </sql>

    <select id="selectIsoList" parameterType="Iso" resultMap="IsoResult">
        SELECT * FROM tab_iso where 1=1
        <if test="companyId != null and companyId != ''">
            AND company_id = #{companyId}
        </if>
        <if test="isoId != null and isoId != ''">
            AND parent_id = #{isoId}
        </if>
        <if test="cName != null and cName != ''">
            AND c_name like concat(#{cName}, '%')
        </if>
    </select>

    <select id="selectIsoById" parameterType="Integer" resultMap="IsoResult">
        <include refid="selectIsoVo"/>
        where iso_id = #{isoId}
    </select>

    <insert id="insertIso" parameterType="Iso" useGeneratedKeys="true" keyProperty="id">
        insert into tab_iso
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isoId != null and isoId != 0">iso_id,</if>
            <if test="cName != null  and cName != ''  ">c_name,</if>
            <if test="eName != null  and eName != ''  ">e_name,</if>
            <if test="disk != null  and disk != ''  ">disk,</if>
            <if test="diskPath != null  and diskPath != ''  ">disk_path,</if>
            <if test="path != null  and path != ''  ">path,</if>
            <if test="iType != null  ">i_type,</if>
            <if test="fileSize != null  ">file_size,</if>
            <if test="category != null  ">category,</if>
            <if test="companyId != null  ">company_id,</if>
            <if test="parentId != null and parentId != 0">parent_id,</if>
            <if test="grParentId != null and grParentId != 0">grparent_id,</if>
            <if test="cId != null  ">c_id,</if>
            <if test="cTime != null  ">c_time,</if>
            <if test="defId != null  ">def_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isoId != null and isoId != 0">#{isoId},</if>
            <if test="cName != null  and cName != ''  ">#{cName},</if>
            <if test="eName != null  and eName != ''  ">#{eName},</if>
            <if test="disk != null  and disk != ''  ">#{disk},</if>
            <if test="diskPath != null  and diskPath != ''  ">#{diskPath},</if>
            <if test="path != null  and path != ''  ">#{path},</if>
            <if test="iType != null  ">#{iType},</if>
            <if test="fileSize != null  ">#{fileSize},</if>
            <if test="category != null  ">#{category},</if>
            <if test="companyId != null  ">#{companyId},</if>
            <if test="parentId != null and parentId != 0">#{parentId},</if>
            <if test="grParentId != null and grParentId != 0">#{grParentId},</if>
            <if test="cId != null  ">#{cId},</if>
            <if test="cTime != null  ">#{cTime},</if>
            <if test="defId != null  ">#{defId},</if>
        </trim>
    </insert>

    <update id="updateIso" parameterType="Iso">
        update tab_iso
        <trim prefix="SET" suffixOverrides=",">
            <if test="cName != null  and cName != ''  ">c_name = #{cName},</if>
            <if test="eName != null  and eName != ''  ">e_name = #{eName},</if>
            <if test="disk != null  and disk != ''  ">disk = #{disk},</if>
            <if test="diskPath != null  and diskPath != ''  ">disk_path = #{diskPath},</if>
            <if test="path != null  and path != ''  ">path = #{path},</if>
            <if test="iType != null  ">i_type = #{iType},</if>
            <if test="fileSize != null  ">file_size = #{fileSize},</if>
            <if test="category != null  ">category = #{category},</if>
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="parentId != null  ">parent_id = #{parentId},</if>
            <if test="grParentId != null  ">grparent_id = #{grParentId},</if>
            <if test="cId != null  ">c_id = #{cId},</if>
            <if test="cTime != null  ">c_time = #{cTime},</if>
            <if test="defId != null  ">def_id = #{defId},</if>
        </trim>
        where iso_id = #{isoId}
    </update>

    <delete id="deleteIsoById" parameterType="Integer">
        delete from tab_iso where iso_id = #{isoId}
    </delete>

    <delete id="deleteIsoByIds" parameterType="String">
        delete from tab_iso where iso_id in
        <foreach item="isoId" collection="array" open="(" separator="," close=")">
            #{isoId}
        </foreach>
    </delete>
    <!--根据父id查询对应的子目录-->
    <select id="selectByPid" resultMap="IsoResult">
        <include refid="selectIsoVo"/>
        <where>
            parent_id = #{parentId}
        </where>
    </select>
    <!--根据祖父id查询子目录注册初始化文件夹-->
    <select id="selectByGPid" resultMap="IsoResult">
        <include refid="selectIsoVo"/>
        <where>
            grparent_id = #{grParentId}
        </where>
    </select>

    <!--上传文件校验文件名唯一性-->
    <select id="selectIsoByUploadName" resultMap="IsoResult">
        SELECT * FROM tab_iso where disk_path = #{diskPath} and c_name = #{cName} and i_type = 1 limit 1;
    </select>

    <!--生成文件夹名校验文件夹名唯一性-->
    <select id="selectIsoByRandomName" resultMap="IsoResult">
        SELECT * FROM tab_iso where i_type = 0 and e_name = #{eName} limit 1;
    </select>

    <!--修改文件名校验文件名的唯一性-->
    <select id="selectIsoByEName" resultMap="IsoResult">
         SELECT * FROM tab_iso where i_type = 1 and disk_path = #{diskPath} and e_name = #{eName} limit 1;
    </select>

    <!--校验文件夹名称的唯一性-->
    <select id="selectIsoByFolderNameUnique" resultMap="IsoResult">
         SELECT * FROM tab_iso where i_type = #{iType} and parent_id = #{parentId} and c_name =#{cName};
    </select>

    <!--根据父id和产线id查询对应产线所以未配置的SOP指导书-->
    <select id="selectNotConfigByPidAndLineId" resultMap="IsoResult">
         SELECT i.iso_id,i.c_name,i.i_type FROM tab_iso as i left join
         (select * from tab_sop_line where  line_id = #{lineId} and sop_tag = #{sopTag}) as l on i.iso_id = l.sop_id where i.parent_id = #{pid} and l.sop_id is null;
    </select>

    <!--查询所有的作业指导书-->
    <select id="selectASOPList" resultMap="IsoResult">
        <include refid="selectIsoVo"/>
        <where>
            <if test="companyId != null and companyId != 0">
                AND company_id = #{companyId}
            </if>
            <if test="parentId != null and parentId != 0 ">
                AND parent_id = #{parentId}
            </if>
        </where>
    </select>
</mapper>