<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.iso.sopLine.mapper.SopLineWorkMapper">
    
    <resultMap type="SopLineWork" id="SopLineWorkResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="lineId"    column="line_id"    />
        <result property="sopId"    column="sop_id"    />
        <result property="wId"    column="w_id"    />
        <result property="pageId"    column="page_id"    />
        <result property="cId"    column="c_id"    />
        <result property="cTime"    column="c_time"    />
        <result property="sopTag"    column="sop_tag"    />
    </resultMap>
	
	<sql id="selectSopLineWorkVo">
        select id, company_id, line_id, sop_id, w_id, page_id, c_id, c_time,sop_tag from tab_sop_line_work
    </sql>

    
    <select id="selectSopLineWorkById" parameterType="Integer" resultMap="SopLineWorkResult">
        <include refid="selectSopLineWorkVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSopLineWork" parameterType="SopLineWork" useGeneratedKeys="true" keyProperty="id">
        insert into tab_sop_line_work
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">company_id,</if>
			<if test="lineId != null  ">line_id,</if>
			<if test="sopId != null  ">sop_id,</if>
			<if test="wId != null  ">w_id,</if>
			<if test="pageId != null  ">page_id,</if>
			<if test="cId != null  ">c_id,</if>
			<if test="cTime != null  ">c_time,</if>
            <if test="sopTag != null  ">sop_tag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">#{companyId},</if>
			<if test="lineId != null  ">#{lineId},</if>
			<if test="sopId != null  ">#{sopId},</if>
			<if test="wId != null  ">#{wId},</if>
			<if test="pageId != null  ">#{pageId},</if>
			<if test="cId != null  ">#{cId},</if>
			<if test="cTime != null  ">#{cTime},</if>
            <if test="sopTag != null  ">#{sopTag},</if>
         </trim>
    </insert>


	<delete id="deleteSopLineWork" >
        delete from tab_sop_line_work where company_id = #{companyId} and line_id = #{lineId} and sop_id = #{sopId} and sop_tag = #{sopTag};
    </delete>

    <select id="selectWorkstionByCompanyAndLineIdAndSopId" resultMap="SopLineWorkResult">
        SELECT * FROM tab_sop_line_work where company_id = #{companyId} and line_id = #{lineId} and sop_id = #{sopId};
    </select>

    <!--通过作业指导书id查询工位配置列表信息-->
    <select id="selectSopLineWorkListBySopId" resultMap="SopLineWorkResult">
        SELECT * FROM tab_sop_line_work where company_id = #{companyId} and page_id = #{pageId};
    </select>

    <!--根据公司id 产线id SOP id 工位id查询对应工位配置的手册-->
    <select id="selectInfoByApi" resultMap="SopLineWorkResult">
      SELECT * FROM tab_sop_line_work where company_id = #{companyId} and line_id= #{lineId}
       and sop_id = #{sopId} and w_id = #{wId} and sop_tag = #{sopTag} limit 1;
    </select>

    <!--删除单工位sop配置信息-->
    <delete id="deleteSopLineWorkByWId">
        delete from tab_sop_line_work where company_id = #{companyId} and w_id = #{wId}
        <if test="sopId != null">
            and sop_id = #{sopId}
        </if>
         and sop_tag = #{sopTag}
    </delete>
</mapper>