<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.iso.sopLine.mapper.SopLineMapper">

    <resultMap type="SopLine" id="SopLineResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="sopId"    column="sop_id"    />
        <result property="lineId"    column="line_id"    />
        <result property="pnId"    column="pn_id"    />
        <result property="pnCode"    column="pn_code"    />
        <result property="cId"    column="c_id"    />
        <result property="cTime"    column="c_time"    />
        <result property="sopTag"    column="sop_tag"    />
        <result property="wId"    column="w_id"    />
        <result property="pageId"    column="page_id"    />
        <result property="sId"    column="s_id"    />
    </resultMap>

    <resultMap type="SopLine" id="SopLineResult1">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="sopId"    column="sop_id"    />
        <result property="lineId"    column="line_id"    />
        <result property="pnId"    column="pn_id"    />
        <result property="pnCode"    column="pn_code"    />
        <result property="cId"    column="c_id"    />
        <result property="cTime"    column="c_time"    />
        <result property="sopTag"    column="sop_tag"    />
        <result property="wId"    column="w_id"    />
        <result property="pageId"    column="page_id"    />
        <result property="sId"    column="s_id"    />
        <association property="sopName" column="sop_id" select="selectSopName">
            <result property="sopName" column="c_name"/>
        </association>
        <association property="lineName" column="line_id" select="selectLineName">
            <result property="lineName" column="line_name"/>
        </association>
    </resultMap>
	
	<sql id="selectSopLineVo">
        select id, company_id, sop_id, line_id, pn_id, pn_code, c_id, c_time,sop_tag from tab_sop_line
    </sql>

    <!--流水线SOP配置列表-->
    <select id="selectSopLineList" parameterType="SopLine" resultMap="SopLineResult">
        SELECT
            `sop_id`,
            `line_id`,
            `sop_tag`,
          GROUP_CONCAT(pn_code) AS pn_code
        FROM
            tab_sop_line
        where sop_tag = 0
            <if test="sopId != null and sopId > 0 "> and sop_id = #{sopId}</if>
            <if test="lineId != null and lineId > 0 "> and line_id = #{lineId}</if>
            <if test="pnCode != null  and pnCode != '' "> and pn_code like concat('%', #{pnCode}, '%')</if>
        GROUP BY
        `sop_id`,
        `line_id`
    </select>

    <!--车间单工位SOP配置列表-->
    <select id="selectSopLineList2" parameterType="SopLine" resultMap="SopLineResult">
        SELECT
        `sop_id`,
        `line_id`,
        `sop_tag`,
        GROUP_CONCAT(pn_code) AS pn_code
        FROM
        tab_sop_line
        where sop_tag = 1
          <if test="sopId != null and sopId > 0 "> and sop_id = #{sopId}</if>
          <if test="companyId != null and companyId > 0 "> and company_id = #{companyId}</if>
          <if test="lineId != null and lineId > 0 "> and line_id = #{lineId}</if>
          <if test="pnCode != null  and pnCode != '' "> and pn_code like concat('%', #{pnCode}, '%')</if>
        GROUP BY
        `sop_id`,
        `line_id`
    </select>

    <!--产线名称-->
    <select id="selectLineName" resultType="java.lang.String">
        SELECT line_name  FROM dev_production_line where id = #{line_id};
    </select>
    <!--SOP名称-->
    <select id="selectSopName" resultType="java.lang.String">
        SELECT c_name FROM tab_iso where iso_id = #{sop_id} ;
    </select>
    <select id="selectSopLineById" parameterType="Integer" resultMap="SopLineResult">
        <include refid="selectSopLineVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSopLine" parameterType="SopLine" useGeneratedKeys="true" keyProperty="id">
        insert into tab_sop_line
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">company_id,</if>
			<if test="sopId != null  ">sop_id,</if>
			<if test="lineId != null  ">line_id,</if>
			<if test="pnId != null  ">pn_id,</if>
			<if test="pnCode != null  and pnCode != ''  ">pn_code,</if>
			<if test="cId != null  ">c_id,</if>
			<if test="cTime != null  ">c_time,</if>
            <if test="sopTag != null  ">sop_tag,</if>
            <if test="wId != null and wId != '' ">w_id,</if>
            <if test="pageId != null and pageId != '' ">page_id,</if>
            <if test="sId != null and sId != '' ">s_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">#{companyId},</if>
			<if test="sopId != null  ">#{sopId},</if>
			<if test="lineId != null  ">#{lineId},</if>
			<if test="pnId != null  ">#{pnId},</if>
			<if test="pnCode != null  and pnCode != ''  ">#{pnCode},</if>
			<if test="cId != null  ">#{cId},</if>
			<if test="cTime != null  ">#{cTime},</if>
            <if test="sopTag != null  ">#{sopTag},</if>
            <if test="wId != null and wId != '' ">#{wId},</if>
            <if test="pageId != null and pageId != '' ">#{pageId},</if>
            <if test="sId != null and sId != '' ">#{sId},</if>
         </trim>
    </insert>

	<!--根据公司id 产线id SOP id删除对应的配置信息-->
    <delete id="deleteSopLine" >
      delete from tab_sop_line where company_id = #{companyId} and sop_tag = #{sopTag}
        <if test="lineId != null">and line_id = #{lineId}</if>
        <if test="sopId != null">and sop_id = #{sopId}</if>
        <if test="wId != null">and w_id = #{wId}</if>
    </delete>

    <!--通过主表id删除sop配置信息-->
    <delete id="deleteSopLineBySId">
        delete from tab_sop_line where s_id = #{sId}
    </delete>

    <!--根据公司id 产线id SOP id查询所以的产线SOP 配置细心-->
    <select id="selectLineAllSopConfig" resultMap="SopLineResult1">
      SELECT * FROM tab_sop_line where company_id = #{companyId} and line_id = #{lineId} and sop_id = #{sopId} and sop_tag = #{sopTag};
    </select>

    <!--查询对应SOP 配置-->
    <select id="selectSopByCompanyAndLineAndCode" resultMap="SopLineResult1">
      SELECT * FROM tab_sop_line where company_id = #{companyId} and line_id = #{lineId} and pn_code=#{pnCode}
       and w_id = #{wId} and sop_tag = #{sopTag} limit 1;
    </select>

    <!--通过作业指导书id查询sop产线配置列表-->
    <select id="selectSopLineListBySopId" resultMap="SopLineResult">
        SELECT * FROM tab_sop_line where company_id = #{companyId} and sop_id = #{sopId};
    </select>

    <!--通过主表id查询配置过的产品信息-->
    <select id="selectSopConfigProBySId" resultMap="SopLineResult">
        select * from tab_sop_line where s_id = #{sId} group by pn_id
    </select>

    <!--查询所有工位配置-->
    <select id="selectSopConfigWorkBySId" resultMap="SopLineResult">
        select * from tab_sop_line where s_id = #{sId} group by w_id
    </select>

    <!--删除配置明细-->
    <delete id="deleteSopLineBySIds" parameterType="String">
        delete from tab_sop_line where s_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过作业指导书页id查询配置列表-->
    <select id="selectSopLineListByPageId" resultMap="SopLineResult">
         select * from tab_sop_line where company_id = #{companyId} and page_id = #{pageId}
    </select>
</mapper>