<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading" style="color: red">
                BOM编辑，编辑完成后将生成新版本的BOM列表
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            BOM编号：<span id="bom-code" th:utext="${productBom.bomCode}"></span>
                            <span id="bom-id" th:data-bom-id="${productBom.id}" ></span>
                        </div>
                        <div class="col-md-6">
                            产品编码：<span th:utext="${productBom.productCode}"></span>
                            <span id="bom-pn-id" th:data-bom-pn-id="${productBom.productId}"></span>
                        </div>
                        <div class="col-md-6">
                            产品名称：<span th:utext="${productBom.productName}"></span>
                        </div>
                        <div class="col-md-6">
                            产品型号：<span th:utext="${productBom.productModel}"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            版本：
                            <select style="width: 100%"  onchange="vChange(this)" >
                                <option th:each="item:${boms}" th:value="${item.id}"
                                        th:utext="${'v'+item.bomVersion}" th:selected="${item.bomVersion==productBom.bomVersion}"></option>
                            </select>
                        </div>
                        <div class="col-md-8">
                            备注：
                            <textarea rows="2" id="data-bom-z-remark" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>版本 v<span id="bom-version-text" th:utext="${productBom.bomVersion}"></span> BOM列表</h5>
                            </div>
                            <div class="ibox-content" style="padding: 0px">
                                <table class="table table-striped table-bordered table-hover ">
                                    <thead>
                                    <tr>
                                        <th>物料编码</th>
                                        <th>用量</th>
                                        <th>单位</th>
                                        <th>位号</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead>
                                    <tbody id="add-bom-detail-old-table-body">
                                        <tr th:if="${ not #lists.isEmpty(detail)}" th:each="de:${detail}">
                                            <td th:utext="${de.detailCode}" style="padding: 16px;"></td>
                                            <td th:utext="${de.oneNum}" style="width: 50px"></td>
                                            <td th:utext="${de.unit==null?'':de.unit}" style="width: 50px;"></td>
                                            <td th:utext="${de.placeNumber == null?'':de.placeNumber}"></td>
                                            <td th:utext="${de.remark==null?'':de.remark}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>将生成的BOM列表</h5>
                            </div>
                            <div class="ibox-content" style="padding: 0px">
                                <table class="table table-striped table-bordered table-hover "
                                       id="add-bom-detail-new-table">
                                    <thead>
                                    <tr>
                                        <th>物料编码</th>
                                        <th>用量</th>
                                        <th>单位</th>
                                        <th>位号</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="add-bom-detail-new-table-body">
                                        <tr th:if="${ not #lists.isEmpty(detail)}" th:each="de:${detail}" th:data-bom-index="${de.bIndex}">
                                            <td>
                                                <select name="detailId"
                                                        th:with="materiel = ${@materiel.selectAllMatByComId()}"
                                                        style="min-width: 180px;">
                                                    <option th:each="item:${materiel}" th:value="${item.id}"
                                                            th:utext="${item.materielCode}"
                                                            th:selected="${item.materielCode ==de.detailCode }"
                                                    ></option>
                                                </select>
                                            </td>
                                            <td style="width: 80px">
                                                <input class="form-control" name="oneNum"
                                                       th:value="${de.oneNum}" style="width: 80px;" type="number" min="1">
                                            </td>
                                            <td style="width: 80px;">
                                                <input class="form-control" name="unit"
                                                       th:value="${de.unit==null?'':de.unit}" style="width: 80px;"
                                                       type="text">
                                            </td>
                                            <td>
                                                <input class="form-control" name="placeNumber"
                                                       th:value="${de.placeNumber == null?'':de.placeNumber}" type="text">
                                            </td>
                                            <td>
                                                    <textarea class="form-control" name="remark"
                                                              th:utext="${de.remark==null?'':de.remark}" rows="1"
                                                              type="text"></textarea>
                                            </td>
                                            <td><a class="btn btn-primary btn-rounded btn-sm" onclick="removeTableTr(this)">&nbsp;删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="addTableTr()"
                                   style="float: right;margin-right: 5px;"><i class="fa fa-plus"></i>&nbsp;添加</a>
                                <a class="btn btn-primary btn-rounded btn-sm"
                                   style="float: right;margin-right: 5px;" onclick="saveBom()"><i class="fa fa-save"></i>&nbsp;保存</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "erp/productBom";
        $(function () {
            $("select").select2({
                width:180,
            })
        })
        /**
         * 删除操作
         * @param val
         */
        function removeTableTr(val) {
            $(val).parent("td").parent("tr").remove();
        }
        
        var index = [[${detail ==null?1:detail[detail.size()-1].bIndex}]];
        var materiel =[[${@materiel.selectAllMatByComId(#httpServletRequest.getCookies())}]];
        var mItems =new Array();
        if(materiel){
            for(var i = 0;i<materiel.length;i++){
                mItems.push("<option value='"+materiel[i].id+"'>"+materiel[i].materielCode+"</option>")
            }
        }

        /**
         * 添加行信息
         */
        function addTableTr() {
            index = index + 1;
            var item = "<tr data-bom-index='"+index+"'>\n" +
                "<td><select name='detailId'  style='min-width: 180px;'>\n" +mItems+
                " </select></td>\n" +
                "<td><input class='form-control' name='oneNum' style='width: 80px;' value='1' type='number' min='1'></td>\n" +
                "<td style='width: 80px'><input class='form-control' name='unit'  style='width: 80px' type='text'></td>\n" +
                "<td><input class='form-control' name='placeNumber' type='text'></td>\n" +
                "<td><textarea class='form-control' name='remark' rows='1' type='text'></textarea></td>\n" +
                "<td><a class='btn btn-primary btn-rounded btn-sm' onclick='removeTableTr(this)'>&nbsp;删除</a></td>\n" +
                "</tr>"
            $("#add-bom-detail-new-table-body").append(item);
            $("#add-bom-detail-new-table-body select").select2({
                width:180
            })
        }

        /**
         * 保存bom更改信息
         */
        function saveBom() {
            if($("#add-bom-detail-new-table-body").find("tr").size() <= 0){
                $.modal.alertWarning("请添加BOM内容");
                return;
            }
            $.modal.loading("正在处理中，请稍后...");
            var rows =new Array();
            //获取BOM单内容
            $("#add-bom-detail-new-table-body").find("tr").each(function () {
                var row={
                    bIndex:$(this).attr("data-bom-index"),
                    bomDetailsType:0,
                    detailId:$(this).find("td").find("select option:selected").val(),
                    detailCode:$(this).find("td").find("select option:selected").text(),
                    oneNum:$(this).find("td").find("input[name='oneNum']").val(),
                    unit:$(this).find("td").find("input[name='unit']").val(),
                    placeNumber:$(this).find("td").find("input[name='placeNumber']").val(),
                    remark:$(this).find("td").find("textarea[name='remark']").val()
                }
                rows.push(row);
            })
            //数据检测
            var isSubmit = true;
            for(var i= 0;i<rows.length;i++){
                if(rows[i].oneNum<=0){
                    $.modal.alertWarning("用量必须大于0，请检查BOM单数据");
                    isSubmit = false;
                    $.modal.closeLoading();
                    return;
                }
                //检测是否存在相同数据
                for(var j= 0;j<rows.length;j++){
                    if(j != i){
                        if(rows[j].detailId == rows[i].detailId){
                            $.modal.alertWarning("BOM单中存在相同物料，请检查BOM单数据");
                            isSubmit = false;
                            $.modal.closeLoading();
                            return;
                        }
                    }
                }
            }
            //验证是否通过
            if(isSubmit){
                var data={
                    id:$("#bom-id").attr("data-bom-id"),
                    productId:$("#bom-pn-id").attr("data-bom-pn-id"),
                    remark:$("#data-bom-z-remark").val(),
                    sign:1,
                    bomCode:$("#bom-code").text(),
                    details:rows
                }
                var config = {
                    url: prefix+'/edit',
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍后...");
                        $.modal.disable();
                    },
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            $.modal.alertSuccess(result.msg);
                        } else {
                            $.modal.alertError(result.msg);
                        }
                        $.modal.closeLoading();
                        $.modal.enable();
                    }
                };
                $.ajax(config)
            }
        }

        /**
         * 版本改变
         * @param val
         */
        function vChange(val) {
            var id = $(val).find("option:selected").val();
            $.post(prefix+"/vchange",{id:id},function (res) {
               if(res && res.code == 0 && res.data){
                    var item = res.data;
                   $("#bom-id").attr("data-bom-id",item.id);
                   $("#bom-code").text(item.bomCode);
                   $("#bom-version-text").text(item.bomVersion);
                   if(item.details){
                        var rows = item.details;
                        var oldRows = new Array();
                        var newRows = new Array();
                        for(var i=0;i<rows.length;i++){
                            var wlItems = new Array();
                            if(materiel){
                                for(var j = 0;j<materiel.length;j++){
                                    var sel = rows[i].detailId == materiel[j].id;
                                    if(sel){
                                        wlItems.push("<option value='"+materiel[j].id+"' selected>"+materiel[j].materielCode+"</option>")
                                    }else{
                                        wlItems.push("<option value='"+materiel[j].id+"' >"+materiel[j].materielCode+"</option>")
                                    }
                                }
                            }
                            var placeNumber = rows[i].placeNumber ==null?'':rows[i].placeNumber;
                            var remark = rows[i].remark == null?'':rows[i].remark;
                            var item = "<tr data-bom-index='"+rows[i].bIndex+"'>\n" +
                                "<td><select name='detailId'   style='min-width: 180px;'>\n" +wlItems+
                                " </select></td>\n" +
                                "<td><input class='form-control' name='oneNum' style='width: 80px;' value='"+rows[i].oneNum+"' type='number' min='1'></td>\n" +
                                "<td style='width: 80px'><input class='form-control' name='unit' value='"+rows[i].unit+"'  style='width: 80px' type='text'></td>\n" +
                                "<td><input class='form-control' name='placeNumber' value='"+placeNumber+"' type='text'></td>\n" +
                                "<td><textarea class='form-control' name='remark' rows='1' type='text'>"+remark+"</textarea></td>\n" +
                                "<td><a class='btn btn-primary btn-rounded btn-sm' onclick='removeTableTr(this)'>&nbsp;删除</a></td>\n" +
                                "</tr>";
                            newRows.push(item);

                            var item2 ="<tr>\n" +
                                " <td style='padding: 16px;'>"+rows[i].detailCode+"</td>\n" +
                                " <td  style='width: 50px'>"+rows[i].oneNum+"</td>\n" +
                                " <td  style='width: 50px;'>"+rows[i].unit+"</td>\n" +
                                "<td>"+placeNumber+"</td>\n" +
                                "<td>"+remark+"</td>\n" +
                                "</tr>";
                            oldRows.push(item2);

                        }
                        $("#add-bom-detail-old-table-body").children().remove();
                        $("#add-bom-detail-new-table-body").children().remove();
                       $("#add-bom-detail-old-table-body").append(oldRows);
                       $("#add-bom-detail-new-table-body").append(newRows);
                       $("#add-bom-detail-new-table-body select").select2({
                           width:180
                       })
                   }else{
                       $.modal.alertError("操作异常");
                   }
               }else{
                   $.modal.alertError("操作异常");
               }
            })
        }
    </script>
</div>
</body>
</html>
