<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>

							<li>
								BOM编号：<input type="text" name="bomCode"/>
							</li>
							<li>
								产品编码：<input type="text" name="productCode"/>
							</li>
							<li>
								产品型号：<input type="text" name="productModel"/>
							</li>
							<li>
								产品名称：<input type="text" name="productName"/>
							</li>
							<li class="select-time">
								<label>操作时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="config()" shiro:hasPermission="erp:bomConfig:add">
					<i class="fa fa-gear"></i> bom配置
				</a>
				<a class="btn btn-success" onclick="importBom()" shiro:hasPermission="erp:productBom:add">
					<i class="fa fa-upload"></i> 导入bom
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('erp:productBom:edit')}]];
        var detailFlag = [[${@permission.hasPermi('erp:productBom:detail')}]];
        var exportlFlag = [[${@permission.hasPermi('erp:productBom:export')}]];
        var prefix = ctx + "erp/productBom";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "产品BOM单",
				sortName:"createTime",
				sortOrder:"desc",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'bomCode', 
					title : 'BOM编号',
					sortable: true
				},
				{
					field : 'bomVersion', 
					title : '版本号',
					sortable: true,
					formatter:function (value, row, index) {
						return "<span>v"+value+"</span>"
					}
				},
				{
					field : 'productCode', 
					title : '产品编码',
					sortable: true
				},
				{
					field : 'productModel', 
					title : '产品型号',
					sortable: true
				},
				{
					field : 'productName', 
					title : '产品名称',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注信息',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '操作时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="edit(' + row.id + ',\''+row.bomCode+'\')"><i class="fa fa-edit"></i>编辑</a> ');
		            	actions.push('<a class="btn btn-primary btn-xs ' + detailFlag + '" href="#" onclick="detail(' + row.id + ')"><i class="fa fa-eye"></i>详情</a> ');
		            	actions.push('<a class="btn btn-warning btn-xs ' + exportlFlag + '" href="#" onclick="exportBom(' + row.id + ')"><i class="fa fa-download"></i>导出</a> ');
                        return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
            $("select").select2();
        });

		/**
		 * bom配置
		 */
		function config() {
			$.modal.open("BOM配置",prefix+"/config",800,560)
		}

		function importBom() {
			$.modal.open("导入BOM配置",prefix+"/add",500,360)
		}

		/**
		 * 编辑bom单
		 * @param id id号
 		 * @param code bom单号
		 */
		function edit(id,code) {
			createMenuItem(prefix+"/edit/"+id,"编辑BOM单 "+code);
		}

		/**
		 * BOM单详情
		 * @param id BOM id
		 */
		function detail(id) {
			createMenuItem(prefix+"/detail?bid="+id,"BOM单详情");
		}

		/**
		 * 导出BOM
		 * @param id BOM id
		 */
		function exportBom(id) {
			$.modal.loading("正在操作，请稍等...");
			$.post(prefix+"/export", {id: id}, function (result) {
				if (result.code == web_status.SUCCESS) {
					window.location.href = ctx + "common/download?fileName=" + result.msg + "&delete=" + true;
				} else {
					$.modal.alertError(result.msg);
				}
				$.modal.closeLoading();
			})
		}
    </script>
</body>
</html>