<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-singleWork-add">
        <input type="hidden" name="sign" id="sign" value="1">
        <input type="hidden" name="parentId" id="parentId" th:value="${parentId}">
        <div class="form-group">
            <label class="col-sm-3 control-label">单工位名称：</label>
            <div class="col-sm-8">
                <input id="workshopName" name="workshopName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">设备编码：</label>
            <div class="col-sm-8">
                <select id="imId" name="imId" class="form-control" th:with="allIm=${@im.selectAllIm(1,0)}">
                    <option value="0">请选择</option>
                    <option th:each="im:${allIm}" th:utext="${im.imCode}" th:value="${im.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">设备责任人：</label>
            <div class="col-sm-8">
                <select style="width: 100%"  id="liableOne" name="liableOne" class="form-control"
                        th:with="user=${@user.selectComAllUser(#httpServletRequest.getCookies())}">
                    <option value="0">请选择</option>
                    <option th:each="u : ${user}" th:text="${u.userName}" th:value="${u.userId}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "production/singleWork"
    $("#form-singleWork-add").validate({
        rules:{
            workshopName:{
                required:true,
                remote: {
                    url: prefix + "/checkNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name : function() {
                            return $.common.trim($("#workshopName").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
        },
        messages: {
            "workshopName": {
                remote: "单工位名称已存在"
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            var imId = $("#imId").find("option:selected").val();
            if (imId <= 0) {
                $.modal.alertWarning("请选择设备");
                return;
            }
            var liableOne = $("#liableOne").find("option:selected").val();
            if (liableOne <= 0) {
                $.modal.alertWarning("请选择设备责任人");
                return;
            }
            save(prefix + "/add", $('#form-singleWork-add').serialize());
        }
    }

    function save(url,data) {
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    if (window.parent.$("#bootstrap-table2").length > 0) {
                        $.modal.close();
                        window.parent.$.modal.msgSuccess(result.msg);
                        window.parent.$("#bootstrap-table2").bootstrapTable('refresh');
                    } else {
                        $.modal.msgReload("保存成功,正在刷新数据请稍后……", modal_status.SUCCESS);
                    }
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
                $.modal.enable();
            }
        };
        $.ajax(config)
    }
</script>
</body>
</html>
