<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/layer/laydate/laydate.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" name="workId" id="workId" th:value="${workId}"/>
                <input type="hidden" name="singleP" id="singleP" th:value="${lineId}"/>
                <div class="select-list">
                    <ul>
                        <li>
                            设备编码：<input type="text" name="imCode" id="imCode"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    $("#form-purchase-add select").select2({
        placeholder:'请选择'
    });
</script>
<script th:inline="javascript">
    var prefix = ctx + "production/singleWork";

    $(function() {
        var options = {
            url: prefix + "/jpushList",
            modalName: "工位配置",
            search: false,
            showSearch: false,   // 是否显示检索信息
            showRefresh: false, // 是否显示刷新按钮
            showColumns: false, // 是否显示隐藏某列下拉框
            showToggle: false,   // 是否显示详细视图和列表视图的切换按钮
            showExport: false,
            columns: [
                {
                    field : 'id',
                    title : '',
                    visible: false
                },
                {
                    field : 'imCode',
                    title : '设备编码',
                    sortable: true
                },
                {
                    field : 'watchCode',
                    title : 'SOP看板编码',
                    sortable: true,
                    formatter:function (value, row, index) {
                        if(row.watchId == 0){
                            return "未配置"
                        }
                        return value;
                    }
                },
                {
                	field : 'jpushTag',
                	title : '看板是否更新',
                	sortable: true,
                	formatter:function (value, row, index) {
                		if (value == 1) {
                		    return '<span style="font-weight:bold;color: green">已更新</span>';
                		} else {
                		    return '<span style="font-weight: bold;color: red">未更新</span>';
                        }
                	}
                }]
        };
        $.table.init(options);
        $.table.search('formId');
    });

    // 关闭窗口
    function submitHandler() {
        $.modal.close();
        window.parent.$.table.refresh();
    }

</script>
</body>
</html>
