<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/layer/laydate/laydate.css}" rel="stylesheet"/>
<body class="gray-bg">
    
     <div class="container-div" style="padding: 10px">
		 <div class="col-sm-12 select-table">
			 <div class="row">
				 <div class="col-sm-2">
					 <div class="ibox float-e-margins">
						 <div class="form-group" th:if="${order.workorderStatus == 0 and order.abolish == 0}">
							 <a class="btn btn-primary btn-rounded btn-sm" style="margin-top: 15px;float: right" onclick="submitHandler()"><i class="fa fa-save"></i>&nbsp;保存更改</a>
						 </div>
						 <div class="ibox-title">
							 <h5>变更操作</h5>
						 </div>
						 <div class="ibox-content" style="padding: 0px">
							 <form  id="form-work-order-change">
								 <div class="form-group" >
									 <label class="col-sm-12 control-label" style="margin-top: 10px;">变更于产线/车间：</label>
									 <div class="col-sm-12">
										 <input type="hidden" id="id" name="id" th:value="${order.id}">
										 <label><input type="radio" name="wlSign" onclick="lineSingle(this)" value="0" th:checked="${order.wlSign ==0?true:false}">产线</label>
										 &nbsp;&nbsp;&nbsp;
										 <label><input type="radio" name="wlSign" onclick="lineSingle(this)" value="1" th:checked="${order.wlSign ==1?true:false}">车间</label>
									 </div>
								 </div>
								 <div class="form-group" id="group-line" th:style="${order.wlSign ==1?'display: none':''}">
									 <label class="col-sm-12 control-label" style="margin-top: 10px;">选择产线：</label>
									 <div class="col-sm-12">
										 <select  name="lineId" id="lineId" onchange="findDeviceLiableByLineId(this)" class="form-control" th:field="${order.lineId}"
												 th:with="productionLine=${@productionLine.selectAllProductionLineByCompanyId(#httpServletRequest.getCookies())}">
											 <option th:each="line : ${productionLine}" th:text="${line.lineName}"
													 th:value="${line.Id}"></option>
										 </select>
									 </div>
								 </div>
								 <div class="form-group" id="group-single"   th:style="${order.wlSign ==0?'display: none':''}">
									 <label class="col-sm-12 control-label" style="margin-top: 10px;" >选择车间：</label>
									 <div class="col-sm-12">
										 <select name="single" onchange="findDeviceLiableBySingle(this)"
												  class="form-control" th:field="${order.single}"
												  th:with="single=${@single.selectSingleWorkListSign0()}">
											 <option th:each="s : ${single}" th:text="${s.workshopName}"
													 th:value="${s.id}"></option>
										 </select>
									 </div>
								 </div>
								 <div class="form-group">
									 <label class="col-sm-12 control-label" style="margin-top: 10px;">责任人1：</label>
									 <div class="col-sm-12">
										 <!--显示责任人名称-->
										 <input id="userName1" name="userName1" th:value="${order.param2}" class="form-control" type="text" readonly="true">
									 </div>
								 </div>
								 <div class="form-group">
									 <label class="col-sm-12 control-label" style="margin-top: 10px;">责任人2：</label>
									 <div class="col-sm-12">
										 <input id="userName2" name="userName2" th:value="${order.param3}" class="form-control" type="text" readonly="true">
									 </div>
								 </div>
								 <div class="form-group"  >
									 <label class="col-sm-12 control-label"  style="margin-top: 10px;">订单号：</label>
									 <div class="col-sm-12">
										 <input  th:value="${order.orderCode}" name="orderCode" class="form-control" type="text">
									 </div>
								 </div>
								 <div class="form-group">
									 <label class="col-sm-12 control-label" style="margin-top: 10px;">生产数量：</label>
									 <div class="col-sm-12">
										 <input id="productNumber" th:value="${order.productNumber}" name="productNumber" class="form-control" type="number">
									 </div>
								 </div>
								 <div class="form-group" id="group-work-price" th:style="${order.wlSign ==0?'display: none':''}">
									 <label class="col-sm-12 control-label"  style="margin-top: 10px;">工价：</label>
									 <div class="col-sm-12">
										 <input  th:value="${order.workPrice}" name="workPrice" class="form-control" type="number">
									 </div>
								 </div>
								 <div class="form-group">
									 <label class="col-sm-12 control-label" style="margin-top: 10px;">计划生产开始时间：</label>
									 <div class="col-sm-12">
										 <input id="productionStart" th:value="${#dates.format(order.productionStart,'yyyy/MM/dd HH:mm:ss')}" name="productionStart" class="form-control layer-date">
									 </div>
								 </div>
								 <div class="form-group">
									 <label class="col-sm-12 control-label" style="margin-top: 10px;">计划生产完成时间：</label>
									 <div class="col-sm-12">
										 <input id="productionEnd" th:value="${#dates.format(order.productionEnd,'yyyy/MM/dd HH:mm:ss')}" name="productionEnd" class="form-control layer-date">
									 </div>
								 </div>
								 <div class="form-group">
									 <label class="col-sm-12 control-label" style="margin-top: 10px;">备注信息：</label>
									 <div class="col-sm-12">
										 <textarea id="remark" class="form-control" rows="4" type="text" name="remark"></textarea>
									 </div>
								 </div>
							 </form>
						 </div>
					 </div>
				 </div>
				 <div class="col-sm-10">
					 <div class="ibox float-e-margins">
						 <div class="ibox-title">
							 <h5>变更详情</h5>
						 </div>
						 <div class="ibox-content" style="padding: 0px">
							 <table id="bootstrap-table" ></table>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
	</div>
    <div th:include="include :: footer"></div>
	 <script th:src="@{/ajax/libs/layer/laydate/laydate.js}"></script>
    <script th:inline="javascript">
		//日期范围限制
		var start = {
			elem: '#productionStart',
			format: 'YYYY/MM/DD hh:mm',
			min: laydate.now(), //设定最小日期为当前日期
			max: '2099-06-16 23:59:59', //最大日期
			istime: true,
			istoday: false,
			choose: function (datas) {
				end.min = datas; //开始日选好后，重置结束日的最小日期
				end.start = datas //将结束日的初始值设定为开始日
			}
		};
		var end = {
			elem: '#productionEnd',
			format: 'YYYY/MM/DD hh:mm:ss',
			min: laydate.now(),
			max: '2099-06-16 23:59:59',
			istime: true,
			istoday: false,
			choose: function (datas) {
				start.max = datas; //结束日选好后，重置开始日的最大日期
			}
		};
		laydate(start);
		laydate(end);
        var prefix = ctx + "production/workOrderChange";
		var params = $("#bootstrap-table").bootstrapTable('getOptions');
		var data = function (params) {
			var search = {};
			search.orderId=[[${order.id}]];
			search.pageSize = params.limit;
			search.pageNum = params.offset / params.limit + 1;
			search.searchValue = params.search;
			search.orderByColumn = params.sort;
			search.isAsc = params.order;
			return search;
		}

		/**
		 * 点击产线查询产线责任人
		 */
		function findDeviceLiableByLineId(value) {
			var lineId = $(value).find("option:selected").val();
			if(lineId){
				$.ajax({
					type: 'POST',
					url: '/production/productionLine/findDeviceLiableByLineId',
					data: {
						"lineId": lineId,
					},
					dataType: 'json',
					async: false,  //同步请求，
					success: function (data) {
						$("#userName1").val(data.data.user1.userName);
						$("#userName2").val(data.data.user2.userName);
					}
				});
			}
		}
		function findDeviceLiableBySingle(value){
			var lineId = $(value).find("option:selected").val();
			if(lineId){
				$.ajax({
					type: 'POST',
					url: '/production/singleWork/selectById',
					data: {
						"id": lineId,
					},
					dataType: 'json',
					async: false,  //同步请求，
					success: function (data) {
						$("#userName1").val(data.data.liableOneName);
						$("#userName2").val(data.data.liableTwoName);
					}
				});
			}
		}
        $(function() {
            var options = {
                url: prefix + "/list",
                modalName: "工单变更",
				search: false,
		        showExport: true,
				showSearch: false,
				showRefresh:false,
				showColumns:false,
				showToggle:false,
				showExport:false,
				queryParams:data,
				sortName:'createTime',
				sortOrder:'desc',
                columns: [
				{
					field : 'id', 
					title : '主键，自增长',
					visible: false
				},
				{
					field : 'lineName', 
					title : '产线/车间',
					sortable: true
				},
				{
					field : 'deviceLiable', 
					title : '第一责任人',
					sortable: true
				},
				{
					field : 'deviceLiable2', 
					title : '第二责任人',
					sortable: true
				},
					{
						field : 'cStatus',
						title : '变更类型',
						sortable: true,
						formatter:function (value,row,index) {
							if(value == 0){
								return '<span>修改</span>'
							}else if(value == 1){
								return '<span style="color: red">合单</span>'
							}else if(value == 2){
								return '<span style="color: green">拆单</span>'
							}
						}
					},
				{
					field : 'productionStart', 
					title : '计划开始时间',
					sortable: true
				},
				{
					field : 'productionEnd', 
					title : '计划结束时间',
					sortable: true
				},
					{
						field : 'orderCodeInfo',
						title : '订单号',
						sortable: true
					},
				{
					field : 'productNumber', 
					title : '生产数量',
					sortable: true
				},
					{
						field : 'workPrice',
						title : '工价',
						sortable: true
					},
				{
					field : 'createPeople', 
					title : '操作者',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '变更时间',
					sortable: true
				},{
						field : 'remark',
						title : '备注信息'
					}]
            };
            $.table.init(options);
        });
		$("#form-work-order-change").validate({
			rules:{
				productNumber:{
					required:true,
				},
				productionStart:{
					required:true,
				},
				productionEnd:{
					required:true,
				}
			},
			messages:{
				productNumber:{
					required:"请填写生产数量",
				},
				productionStart:{
					required:"请选择计划开始时间",
				},
				productionEnd:{
					required:"请选择计划结束时间",
				}
			}
		});
		function submitHandler() {
			// 时间判断
			if ($.validate.form()) {
				var productionStart = $("#productionStart").val();
				var productionEnd = $("#productionEnd").val();
				var start = new Date(productionStart.replace(/\-/g, "\/"));
				var end = new Date(productionEnd.replace(/\-/g, "\/"));
				if (productionStart != "" && productionEnd != "" && start > end) {
					$.modal.alertWarning("开始时间不能大于结束时间");
					return;
				}
				var config = {
					url: "/device/devWorkOrder/chang",
					type: "post",
					dataType: "json",
					data: $('#form-work-order-change').serialize(),
					beforeSend: function () {
						$.modal.loading("正在处理中，请稍后...");
						$.modal.disable();
					},
					success: function (result) {
						if (result.code == web_status.SUCCESS) {
							$.modal.msg("保存成功,正在刷新数据请稍后……", modal_status.SUCCESS);
							var params = $("#bootstrap-table").bootstrapTable('getOptions');
							params.queryParams = function (params) {
								var search = {};
								search.orderId=[[${order.id}]];
								search.pageSize = params.limit;
								search.pageNum = params.offset / params.limit + 1;
								search.searchValue = params.search;
								search.orderByColumn = params.sort;
								search.isAsc = params.order;
								return search;
							}
							$("#bootstrap-table").bootstrapTable('refresh', params);
						} else {
							$.modal.alertError(result.msg);
						}
						$.modal.closeLoading();
					}
				};
				$.ajax(config)
			}
		}

		/**
		 * 选择产线和还是车间
		 * @param val
		 */
		function lineSingle(val) {
			var value = $(val).val();
			if(value == 0){
				$("#group-line").css("display"," block");
				$("#group-single").css("display"," none");
				$("#group-work-price").css("display"," none");
				var item = $("#group-line").find("select");
				findDeviceLiableByLineId($(item));
			}else if(value == 1){
				$("#group-line").css("display"," none");
				$("#group-single").css("display"," block");
				$("#group-work-price").css("display"," block");
				var item = $("#group-single").find("select");
				findDeviceLiableBySingle($(item));
			}
		}
    </script>
</body>
</html>